<ion-popover-view class="filterPopover">
    <ion-content class="padding-normal-horizontal">
        <ion-list>
            <ion-radio ng-model="filterObject.secondClassify" icon="hidden" ng-value="childCode" ng-change="showFilter()">全部</ion-radio>
            <ion-radio ng-model="filterObject.secondClassify" icon="hidden" ng-value="childType.code" ng-change="showFilter()" ng-repeat="childType in getChildTypeCode.childCodeInfoList"><span ng-bind="childType.name"></span></ion-radio>
        </ion-list>
    </ion-content>
</ion-popover-view>