<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBack()"><span class="icon ion-ios-arrow-back">我的</span></button>
        </div>
        <h1 class="title">下架管理</h1>
    </ion-header-bar>
    <ion-content >
        <div class="row" ng-if="items.length==0">
            <div  class="col col-center noListFont">
                <span>没有相关内容</span>
            </div>
        </div>
        <ion-list ng-repeat="item in items track by $index"  ng-if="items.length>0">
            <div class="item shelvesItems">
                <a  ng-click="showProduct(item.id)">
                    <div class="row shelvesRow">
                        <div class="col col-20 col-center" ng-if="item.productImageList.length!=0">
                            <div class="bgImg bgImg-1-1" ng-style="setBackGroundImage(item.productImageList[0].location+'@414w')" ></div>
                        </div>
                        <div class="col col-70">
                            <div class="shelvesTitles">
                                <p class="shelvesTitle" ng-bind="item.title"></p>
                                <p class="shelvesStatus" ng-bind="item.productStatusText"></p>
                            </div>
                            <div class="shelvesPrice">
                                <p class="sellFont">
                                    <span>¥&nbsp;</span>
                                    <span ng-bind="item.currentPrice"></span>
                                </p>
                                <p class="sellOriginalFont" ng-if="item.product.originalPrice!=null">
                                    <span >¥&nbsp;<span ng-bind="item.product.originalPrice"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="col shelvesBtn">
                        <span class=" soldBtn"  ng-click="releaseDetail(item.id,0)">重新上架</span>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="shelvesLoadMore()"
                ng-if="!noMoreLoad"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>