<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="backupDown('tabs.tabsPersonal')"><span class="icon ion-ios-arrow-back">我的</span></button>
        </div>
        <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item item-divider">
        </div>
        <a class="item  item-icon-right" href="#">
            <h2>关于萌宝铺子</h2>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item  item-icon-right" ng-click="myCenterSetup('personalFeedback')">
            <h2>意见与反馈</h2>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item  item-icon-right" href="#">
            <h2>帮助中心</h2>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>

    </ion-content>
</ion-view>