<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBackBefore()"><span class="icon ion-ios-arrow-back">我的</span></button>
        </div>
        <h1 class="title">我的收藏</h1>
    </ion-header-bar>
    <ion-content >
        <div class="row" ng-if="productList.length==0">
            <div  class="col col-center noListFont">
               <span>没有相关内容</span>
            </div>
        </div>

        <div class="card-group" ng-if="productList.length>0">
            <div class="card-item-normal collection-item" ng-repeat="product in productList track by $index" ng-click="showProduct(product.id,101)">
                <div class="row padding-none-horizontal padding-normal-vertical">
                    <div class="col col-25 col-center padding-none-horizontal padding-none-vertical">
                        <div class="col col-75 col-offset-10 padding-none-vertical">
                            <div class="bgImg bgImg-1-1 border-radius-round" ng-style="setBackGroundImage(product.publicUser.userImg?product.publicUser.userImg+'@414w':defaultHead)"></div>
                        </div>
                    </div>
                    <div class="col col-center padding-none-vertical padding-normal-horizontal">
                        <div ng-bind="product.publicUser.nickName" class="userNick"></div>
                        <div ng-bind="parseTime(product.publicDate)" class="publicTime"></div>
                    </div>
                    <div class="col col-center">
                        <div ng-bind="product.productStatusText" class="productStatus"></div>
                    </div>
                </div>
                <div class="row padding-small-horizontal" ng-if="checkProductImages(product.productImageList).length !=0">
                    <div class="col col-33 col-center padding-small-horizontal padding-none-vertical" ng-repeat="productImage in checkProductImages(product.productImageList) track by $index">
                        <div class="bgImg bgImg-1-1" ng-style="setBackGroundImage(productImage.location+'@414w')" ></div>
                    </div>
                </div>
                <div class="row padding-small-horizontal">
                    <div class="col col-center padding-none-vertical">
                        <div class="productContent" ng-bind="product.content"></div>
                    </div>
                </div>
                <div class="row padding-small-horizontal border-bottom">
                    <div class="col col-center padding-none-vertical">
                        <div class="priceGroup">
                            <span class="mbpz mbpz-icon-money price"></span>
                            <span ng-bind="product.currentPrice" class="price"></span>
                            <span ng-bind="product.originalPrice" class="price originalPrice"></span></div>
                    </div>
                </div>
                <div class="row padding-small-horizontal padding-none-vertical publishLocationGroup">
                    <div class="col col-center padding-normal-vertical">
                        <span class="mbpz mbpz-icon-position address"></span>
                        <span ng-if="product.userLocation==null" class="address">未知</span>
                        <span ng-if="product.userLocation!=null" class="address" ng-bind="product.userLocation.city"></span>
                        <span ng-if="product.userLocation!=null" class="address" ng-bind="product.userLocation.district"></span>
                    </div>
                    <div class="col col-center padding-normal-vertical text-right">
                        <span class="mbpz mbpz-icon-readers counts"></span>
                        <span ng-bind="(product.browseNumber||0)" class="counts"></span>
                        <span class="mbpz mbpz-icon-replies counts"></span>
                        <span ng-bind="(product.replyNumber||0)" class="counts"></span>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll
                on-infinite="collectionLoadMore()"
                ng-if="!noMoreLoad"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>