<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="backupDown('tabs.tabsPersonal')"><span class="icon ion-ios-arrow-back">我的</span></button>
        </div>
        <h1 class="title">宝贝已购</h1>
    </ion-header-bar>
    <ion-content >
        <div class="row" ng-if="items.length==0">
            <div  class="col col-center noListFont">
                <span>没有相关内容</span>
            </div>
        </div>
        <ion-list ng-repeat="item in items track by $index" class="soldList" ng-if="items.length>0">
            <div class="item shelvesItems">
                <a  ng-click="orderDetail(item.id,0)">
                    <div class="row shelvesRow">
                        <div class="col-60 soldOrderFont">
                            <span>订单编号:</span>
                            <span ng-bind="item.orderCode"></span>
                        </div>
                        <div class="col-40 soldStatus">
                            <p ng-bind="item.statusName"></p>
                        </div>
                    </div>
                    <div class="row soldRow">
                        <div class="col col-20 col-center" ng-if="item.product.productImageList.length!=0" ng-repeat="productImage in checkProductImages(item.product.productImageList) track by $index">
                            <div class="bgImg bgImg-1-1" ng-style="setBackGroundImage(productImage.location+'@414w')" ></div>
                        </div>
                        <div class="col col-70">
                            <div class="shelvesTitles">
                                <p class="shelvesTitle" ng-bind="item.product.title"></p>
                                <p class="shelvesStatus" ng-bind="item.product.productStatusText"></p>
                            </div>
                            <div class="shelvesPrice">
                                <p class="sellFont">
                                    <span>¥&nbsp;</span>
                                    <span ng-bind="item.product.currentPrice"></span>
                                </p>
                                <p class="sellOriginalFont" ng-if="item.product.originalPrice!=null">
                                    <span >¥&nbsp;<span ng-bind="item.product.originalPrice"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="col-20 shelvesBtn" ng-click="myContant(item,3)">
                        <span class="mbpz mbpz-icon-replies soldBtn" >联系TA</span>
                    </div>
                    <div class="col-80 shelvesBtn" >
                        <span class=" mbpz soldBtn" ng-if="item.status =='NOT_PAID'" ng-click="cancalOrder(item.id)">取消订单</span>
                        <span class=" mbpz soldBtn" ng-if="item.status =='NOT_PAID'" ng-click="showPay(item,0)">立即支付</span>
                        <span class=" mbpz soldBtn" ng-if="item.status =='PAID'" ng-click="applyRefund(item.id,item.product.currentPrice,item.freight)">申请退款</span>
                        <span class=" mbpz soldBtn" ng-if="item.status =='PAID'" ng-click="remindDelivery(item.id)">提醒发货</span>
                        <span class=" mbpz soldBtn" ng-if="item.status =='RECEIVING'" ng-click="applyRefund(item.id,item.product.currentPrice,item.freight)">申请退款</span>
                        <span class=" mbpz soldBtn" ng-if="item.status =='RECEIVING'" ng-click="submitBuyer(item.id)">确认收货</span>
                        <span class=" mbpz soldBtn" ng-if="item.status =='EVALUATING'" ng-click="evaluation(item.id)">立即评价</span>
                        <span class=" mbpz soldBtn" ng-if="item.status =='EVALUATED'" ng-click="evaluationShow(item.id,1)">查看评价</span>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="boughtLoadMore()"
                ng-if="!noMoreLoad"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>