<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="backupDown('myCenterSetup')"><span class="icon ion-ios-arrow-back">设置</span></button>
        </div>
        <h1 class="title">用户协议</h1>
    </ion-header-bar>
    <ion-content class="agreement-content">
        <div class="row">
            <ul>
                <li >
                    <p  class="agreementSub">
                        声明与承诺
                    </p>
                </li>
                <li>
                    <p class="agreementDescribe">
                        在接受本协议之前，请您仔细阅读本协议的全部内容。如果您对本协议的条款有疑问的， 请通过萌宝铺子客服渠道进行询问，萌宝铺子将向您解释条款内容。如果您不同意本协议的任何内容，或者无法准确理解萌宝铺子对条款的解释，请不要进行后续操作，否则本协议即对您产生约束。届时您不应以未阅读本协议的内容或者未获得萌宝铺子对您问询的解答或无法准确理解本协议条款等理由，主张本协议及条款无效，或要求撤销本协议
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第一条 签约主体
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        1.1、本协议由上海至臻文化传媒股份有限公司（以下简称“上海至臻”）与萌宝铺子用户（以下简称“您”）签署。
                    </p>
                    <p class="agreementContext">
                        1.2、补充协议
                    </p>
                    <p class="agreementContext">
                        由于互联网高速发展，您与上海至臻签署的本协议列明的条款并不能完整罗列并覆盖您与上海至臻所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，所有现在已经或将来可能发布于萌宝铺子平台的规则均为本协议的补充协议，与本协议具有不可分割的同等法律效力。如果您不同意补充协议的约定，您应立即停止注册程序或停止使用萌宝铺子平台服务。
                    </p>
                    <p class="agreementContext">
                        1.3、上海至臻有权根据需要不定时地制定、修改、更新、补充本协议及/或各类规则，上海至臻将在App上发布的方式进行公示，不再单独通知您。变更后的协议和规则一经公布立即自动生效，用户应及时关注并注意遵守经修订的协议和规则。用户登录或继续使用萌宝铺子服务将表示用户接受经修订的协议或规则。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。
                    </p>
                    <p class="agreementContext">
                        1.4、如您申请注册或使用萌宝铺子平台服务即视为同意本协议，请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。阅读本协议的过程中，如果您不同意本协议或者其中任何条款约定，您应立即停止注册程序并停止使用萌宝铺子服务。请您务必在注册之前认真阅读全部服务协议内容，如有任何疑问，可向萌宝铺子客服咨询。无论您事实上在注册之前或使用萌宝铺子服务前是否认真阅读了本服务协议，只要您勾选“我已了解并接受《   协议》及补充协议”并点击【立即注册】按钮注册成功后成为萌宝铺子注册用户，或您实际使用萌宝铺子平台服务，您的行为即表示您同意并签署了本服务协议。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第二条 定义
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        2.1、萌宝铺子：萌宝铺子是上海至臻旗下为广大用户提供的进行个人闲置物品和二手物品交易的服务平台。
                    </p>
                    <p class="agreementContext">
                        2.2、萌宝铺子用户：用户应当是具有完全民事权利能力和完全民事行为能力的自然人、法人或其他组织，并能够根据相关法律订立具有法律约束力的合约并成为萌宝铺子用户。无民事行为能力人、限制民事行为能力人以及无经营资格或特许经营资格的组织不当注册为萌宝铺子用户或超越其民事权利或行为能力范围从事萌宝铺子的，其与萌宝铺子之间的服务协议自始无效，萌宝铺子一经发现，有权立即注销该用户。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第三条 注册及信息
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        3.1、在您按照页面提示填写手机号码，并获得验证码后，即可登录萌宝铺子，阅读并同意所有协议条款并完成全部注册程序后，您才能成为萌宝铺子的正式用户。在您发生交易行为前请先至个人中心页面完善信息，您必须准确填写您的个人资料，包括但不限于个人基本信息，联系电话、联系地址、电子邮件地址等，如您个人资料有任何变动，请您勿必及时更新，以使之真实、及时、完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，萌宝铺子有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部服务。萌宝铺子对此不承担任何责任，您将承担因此产生的任何直接或间接支出。如因您的信息不实、错误、过时或不完整，而导致您无法接受服务或服务中止或其他可能给您造成的损失或增加费用的，将由您完全独自承担，萌宝铺子不承担责任。
                    </p>
                    <p class="agreementContext">
                        3.2、注册后，您应妥善保管您的账户，并对通过您的账户实施的行为负责。账户不得以任何方式转让。如果发现任何人不当使用您的账户或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知萌宝铺子，要求萌宝铺子暂停相关服务。但萌宝铺子不对他人不当使用您账户的行为承担任何责任。
                    </p>
                    <p class="agreementContext">
                        3.3、用户理解并同意，萌宝铺子有权应政府部门（包括司法及行政部门）的要求，对您在注册及使用环节填写或提交的材料、信息以及交易记录等进行备案；您保证填写及提交前的前述材料、信息是真实、准确、合法、有效的，如萌宝铺子发现您提供的资料造假，萌宝铺子有权立即强制注销您的账户，终止对您提供部分或全部服务并根据本协议或相关规定对您进行处罚。用户需保证不以他人资料在萌宝铺子进行注册或认证。
                    </p>
                    <p class="agreementContext">
                        3.4、如用户涉嫌侵犯他人知识产权，则萌宝铺子亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供用户必要的身份信息。
                    </p>
                    <p class="agreementContext">
                        3.5、对于您提供的资料及数据信息，您授予萌宝铺子独家的、全球通用的、永久的、免费的许可使用权利。您同意，萌宝铺子有权（全部或部分地)使用、复制、更正、发布、翻译、分发、执行和展示您的资料数据（包括但不限于注册资料、行为数据及全部展示于萌宝铺子平台的各类信息）。
                    </p>
                    <p class="agreementContext">
                        在此，您特别做出授权，允许萌宝铺子依据您提供的信息资料及在萌宝铺子平台上的行为、
                        投诉及侵权状况等进行信用评级，您对萌宝铺子的信用评级体系予以认可并同意萌宝铺子将您在平台存储的全部或部分信息及信用评价结果以有偿或无偿方式提供给第三方进行商业或非商业方式的使用，而无需在该提供行为之前再另行取得您的同意。如您不同意做出前述授权，您应立即停止注册程序或停止使用萌宝铺子平台服务。如您继续使用萌宝铺子平台服务的，即表示您同意做出前述授权。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第四条 您的承诺与保证
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        4.1、您应独立承担本协议法律责任。如您不满18周岁，则您承诺其注册萌宝铺子或使用萌宝铺子平台前已获得您的法定监护人的同意或由您的法定监护人代为注册、操作，如您无法独立承担本协议法律责任的，则相应的法律责任由您的法定监护人承担。
                    </p>
                    <p class="agreementContext">
                        4.2、对于您在萌宝铺子上传或提供的内容，包括但不限于图片或文字（统称素材），您在此授予萌宝铺子永久的免费的不受限的使用权利（并有权在多个层面对该权利进行再授权），萌宝铺子及萌宝铺子关联公司有权通过各种渠道、各种媒体、各种技术、再各个地域范围内免费使用素材，包括但不限于使用、部分使用、复制、发行、展示、演绎、网络传播等。例如将您上传的肖像素材应用于网络广告、平面媒体、线下推广、企业内刊等场景中。
                    </p>
                    <p class="agreementContext">
                        4.3、您需确保自己对在萌宝铺子发布的内容具有合法权利或有效的、完全的授权，不应侵犯他人的肖像权、名誉权、知识产权、隐私权等合法权益，也不会侵犯法人或其他团体的商业秘密等合法权益。如萌宝铺子收到投诉，萌宝铺子有权直接、立即删除该内容、中止对您的服务或强制注销账户；如发生纠纷，由权利人与您自行解决，并由您自行承担全部责任。萌宝铺子平台无义务参与任何纠纷的处理，亦不承担责任。如您的行为给萌宝铺子造成损失，您应当赔偿向萌宝铺子赔偿。
                    </p>
                    <p class="agreementContext">
                        4.4、您在萌宝铺子发表的言论、发布的信息、作出的行为等应符合国家法律法规的规定，不违背社会公共利益或公共道德，不侵害萌宝铺子、萌宝铺子关联公司或其他任何第三方主体的任何合法权利，不违反本协议及相关规则。如因此引起纠纷，萌宝铺子有权直接删除相关信息、中止对您的服务或强制注销账户并终止对您的服务。萌宝铺子及任何第三方主体均有权向您索赔。
                    </p>
                    <p class="agreementContext">
                        4.5、在与其他会员交易过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。您知悉并了解线下见面交易存在较大的人身财产安全及交易纠纷风险，如因线下见面交易产生纠纷及风险，由萌宝铺子用户自行承担。
                    </p>
                    <p class="agreementContext">
                        4.6、您不得在萌宝铺子发布国家禁止销售的或限制销售的商品或服务信息，不发布涉嫌侵犯他人知识产权或其它合法权益的商品或服务信息，不发布恶意内容，包括评论、商品信息，禁止对任何人进行人身攻击，一经发现，有权删除恶意内容并对攻击账号进行封禁，强制注销您的账户并终止对您的服务。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第五条 萌宝铺子服务与收费
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        5.1、为了鼓励萌宝铺子用户在萌宝铺子的发展，萌宝铺子暂时免费为您提供本协议项下的服务，但并不排除今后就其提供的全部或部分服务或者其他新增服务收取费用，届时萌宝铺子将通过网站公告等形式提前公布收费政策及收费规则。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第六条 禁止商业贿赂
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        6.1、您不得向萌宝铺子及其关联企业之员工、顾问提供任何形式的不正当利益。如有，无论您是否实际获得利益，萌宝铺子均有权立即强制注销您的账户并终止对您的服务，并由您按提供任何形式的不正当利益的总金额向萌宝铺子赔偿。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第七条 免责及有限责任
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        7.1、本协议项下的萌宝铺子服务将按“现状”和按“可得到”的状态提供，萌宝铺子将在现有技术的基础上尽最大努力提供相应的安全措施以保障服务安全和正常运行。但由于可能存在的计算机病毒、网络通讯故障、系统维护等方面的因素以及可能发生的不可抗力事件，萌宝铺子在此声明对服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。
                    </p>
                    <p class="agreementContext">
                        7.2、萌宝铺子保留变更、中断或终止某些服务的权利，对于因服务调整引起萌宝铺子用户数据损失等问题，萌宝铺子不承担任何责任。
                    </p>
                    <p class="agreementContext">
                        7.3、本协议的签署、您的注册成功并不意味着萌宝铺子对您的注册身份、资质、履约能力、服务等行为或您自行上传、发布或提交的信息、作品的真实性、准确性、合法性、有效性承担任何明示或暗示的保证或担保等责任。萌宝铺子仅提供一个服务平台，供您与其他萌宝铺子用户进行个人闲置物品和二手物品交易。萌宝铺子并不作为交易行为的参与方，对此您已明确知悉并同意。萌宝铺子不能控制商品或服务的质量、安全或合法性，商贸信息的真实性或准确性，以及商品或服务提供方的义务履行能力。故萌宝铺子提醒您应该通过自己的谨慎判断确定相关信息的真实性、合法性和有效性。 萌宝铺子不对交易行为所导致的任何损害赔偿承担责任。 萌宝铺子亦无义务参与与交易有关的任何纠纷处理等活动。因您的行为导致的任何投诉、纠纷、争议、赔偿等您应以自己的名义独立参与并承担所有法律责任。
                    </p>
                    <p class="agreementContext">
                        7.4、您了解并同意，萌宝铺子有权在以下情况向第三方披露您在本站的个人资料（但不限于登陆的身份信息，联络方式，短信记录），对此萌宝铺子不承担任何责任：
                    </p>
                    <p class="agreementContext">
                        a、征得您本人允许；b、由您本人对外公开；c、因您可能侵犯他人权益而被他人投诉，投诉人依法要求萌宝铺子平台提供的；d、政府部门（包括但不限于司法及行政部门）要求萌宝铺子平台提供的。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第八条 知识产权
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        8.1、您可以在移动互联网设备上安装、使用、浏览、运行萌宝铺子网站及软件。
                    </p>
                    <p class="agreementContext">
                        8.2、萌宝铺子网站及软件的一切版权、商标权、专利权、商业秘密等知识产权，以及与萌宝铺子相关的所有信息内容，包括但不限于：文字表述及其组合、图标、图饰、图表、色彩、界面设计、版面框架、有关数据、印刷材料、或电子文档等均受中华人民共和国著作权法、商标法、专利法、反不正当竞争和相应的国际条约以及其他知识产权法律法规的保护，除涉及第三方授权的软件或技术外，萌宝铺子享有上述知识产权，萌宝铺子保留追究上述未经许可行为的权利。
                    </p>
                    <p class="agreementContext">
                        8.3、 对于萌宝铺子相关信息等，未经萌宝铺子书面同意，您不得擅自实施包括但不限于下列行为：使用、出租、传播、储存违反国家法律、危害国家安全、祖国统一、社会稳定、公序良俗的内容，或任何不当的、侮辱诽谤的、淫秽的、暴力的及任何违反国家法律法规政策的内容或侵害他人知识产权、商业秘密权、隐私权等合法权利的内容，也不得传送或散布以其他方式实现传送含有收到知识产权法律保护的图像、相片、软件或其他资料的文件，除非用户拥有或控制着相应的权利或已得到所有必要的认可。否则，一经发现或收到举报，萌宝铺子有权删除并按《萌宝铺子商品发布管理规范》进行处理。
                    </p>
                    <p class="agreementContext">
                        8.4、您同意萌宝铺子全部运营数据，其全部的权利均归属于萌宝铺子。未经萌宝铺子事先书面同意，您不得为任何目的擅自保存、备份、使用或授权他人使用前述运营数据。无论您与萌宝铺子服务关系存续或终止，您均无权要求备份前述运营数据。
                    </p>
                    <p class="agreementContext">
                        8.5、您不得使用任何装置、软件或例行程序干预或试图干预萌宝铺子的正常运作或正在萌宝铺子平台上进行的任何交易、活动。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第九条 违约责任
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        9.1、您明确理解并同意，如因您违反有关法律法规、相关规则或者本协议之规定，使萌宝铺子遭受任何损失、受到买家或任何第三方的索赔或者遭受任何行政管理部门的处罚，您应对萌宝铺子进行全额赔偿，包括合理的律师费用。
                    </p>
                    <p class="agreementContext">
                        9.2、除本协议另有约定外、如您违反其于本协议项下的陈述、承诺、保证或义务，而使萌宝铺子遭受任何诉讼、纠纷、索赔、处罚等的，违约方应负责解决，使萌宝铺子发生任何费用、额外责任或遭受经济损失的，您应当负责赔偿。如您发生违约行为，萌宝铺子可以书面通知方式要求在指定的时限内停止违约行为，要求其消除影响。如您未能按时停止违约行为，则萌宝铺子有权强制注销您的账户并终止对您的服务。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第十条 协议终止及转让
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        10.1、协议在符合以下任意一项情形时终止：
                    </p>
                    <p class="agreementContext">
                        10.1.1、自然终止：如您在线签署的《萌宝铺子服务协议》因任何原因终止，则本协议将同时终止；
                    </p>
                    <p class="agreementContext">
                        10.1.2、通知解除：萌宝铺子可提前xx天以书面通知的方式终止本协议而无须承担违约责任；
                    </p>
                    <p class="agreementContext">
                        10.1.3、单方解除权：出现下列情况之一的，萌宝铺子有权立刻停止本协议，且按有关规定对您进行处罚：
                    </p>
                    <p class="agreementContext" style="padding-left:2px;">
                        （1）	您违反本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定；<br/>
                        （2）	您被萌宝铺子清退并强制注销您的账户。
                    </p>
                    <p class="agreementContext">
                        10.1.4、本协议规定的其他协议终止条件发生或实现，导致本协议终止。
                    </p>
                    <p class="agreementContext">
                        10.2、无论本协议因何原因终止，您在协议终止前的行为所导致的任何责任，您必须完全且独立地承担；协议终止后，萌宝铺子将强制注销您的账户并终止向您提供服务。
                    </p>
                    <p class="agreementContext">
                        10.3、萌宝铺子有权将本协议项下的全部权利和义务转让予第三方，而无须征得您的同意，届时萌宝铺子将通过页面公告等方式向您发出转让通知。但反之，未经萌宝铺子同意您无权将您在本协议项下的权利和义务转让给第三方。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第十一条 其他约定
                    </p>
                </li>
                <li>
                    <p class="agreementContext" style="padding-bottom:50px;">
                        11.1、本协议适用中华人民共和国大陆地区法律。因萌宝铺子与您就本协议的签订、履行或解释发生争议，各方应努力友好协商解决。如协商不成，您同意由萌宝铺子住所地人民法院管辖审理各方的纠纷或争议。
                    </p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>