<ion-view >
    <ion-content >
        <ion-list ng-repeat="item in items track by $index"  ng-if="items.length>0">
            <div class="item releaseItem">
                <a ng-click="showProduct(item.id,500)">
                    <div class="row" ng-if="item.productImageList.length!=0" >
                        <div class="col-33 col-center padding-small-horizontal padding-none-vertical" ng-repeat="productImage in checkProductImages(item.productImageList) track by $index" >
                            <div class="bgImg bgImg-1-1" ng-style="setBackGroundImage(productImage.location+'@414w')" ></div>
                        </div>
                    </div>
                    <div class="row">
                        <p ng-bind="item.content" class="sellContent"></p>
                    </div>
                    <div class="row releaseRow">
                        <p class="sellFont">
                            <span>¥&nbsp;</span>
                            <span ng-bind="item.currentPrice"></span>
                        </p>
                        <p class="sellOriginalFont" ng-if="item.product.originalPrice!=null">
                            <span >¥&nbsp;<span ng-bind="item.product.originalPrice"></span></span>
                        </p>
                    </div>
                </a>
                <div class="row releaseRows">
                    <div class="col-90 releaseBtns">
                        <span class=" releaseBtn" ng-click="showConfirm(item.id)">删除</span>
                        <span class=" releaseBtn" ng-click="releaseDetail(item.id,0)">编辑</span>
                    </div>
                </div>
            </div>
        </ion-list>
        <div class="row" ng-if="items==null">
            <div  class="col col-center noListFont">
                <span>没有相关内容</span>
            </div>
        </div>
        <ion-infinite-scroll
                on-infinite="publicLoadMore()"
                ng-if="!noMoreLoad"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
