<ion-view class="personal-setup" >
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="backupDown('tabs.tabsPersonal')"><span class="icon ion-ios-arrow-back">我的</span></button>
        </div>
        <h1 class="title">退款管理</h1>
    </ion-header-bar>
    <ion-tabs class="tabs-top releaseTab tabs-stable">
        <ion-tab title="出售"  href="#/refundsRelease/refundsReleaseSell" >
            <ion-nav-view name="refundsRelease-sell"></ion-nav-view>
        </ion-tab>
        <ion-tab title="购买" href="#/refundsRelease/bought" >
            <ion-nav-view name="refundsRelease-bought"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>