<ion-view >
    <ion-content   >
        <ion-list ng-repeat="item in items track by $index" class="soldList">
            <div class="item shelvesItems">
                <a  ng-click="orderDetail(item.id,2)">
                    <div class="row shelvesRow">
                        <div class="col-60 soldOrderFont">
                            <span>订单编号:</span>
                            <span ng-bind="item.orderCode"></span>
                        </div>
                        <div class="col-40 soldStatus">
                            <p ng-bind="item.refundStatusName"></p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-20 col-center" ng-if="item.product.productImageList.length!=0" ng-repeat="productImage in checkProductImages(item.product.productImageList) track by $index">
                            <div class="bgImg bgImg-1-1" ng-style="setBackGroundImage(productImage.location+'@414w')" ></div>
                        </div>
                        <div class="col col-70">
                            <div class="shelvesTitles">
                                <p class="shelvesTitle" ng-bind="item.product.title"></p>
                                <p class="shelvesStatus" ng-bind="item.product.productStatusText"></p>
                            </div>
                            <div class="shelvesPrice">
                                <p class="sellFont">
                                    <span>¥&nbsp;</span>
                                    <span ng-bind="item.product.currentPrice"></span>
                                </p>
                                <p class="sellOriginalFont" ng-if="item.product.originalPrice!=null">
                                    <span >¥&nbsp;<span ng-bind="item.product.originalPrice"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row soldRow">
                        <div class="col refundsFont">
                            <span>交易金额:</span><span>¥&nbsp;</span><span ng-bind="item.price"></span>
                            <span>退款金额:</span><span class="refundsMoney">¥&nbsp;</span><span ng-bind="item.price"></span>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="col-20 shelvesBtn" ng-click="myContant(item,5)">
                        <span class=" mbpz mbpz-icon-replies soldBtn" >联系TA</span>
                    </div>
                    <div class="col shelvesBtn">
                        <span class=" mbpz soldBtn" ng-if="item.refundStatus =='REJECT'" ng-click="refusedApply(item.id,1,item,1)">拒绝原因</span>
                        <span class=" mbpz soldBtn" ng-if="item.refundStatus =='REJECT'" ng-click="applyRefund(item.id,item.price,item.freight)">重新申请退款</span>
                        <span class=" mbpz soldBtn" ng-if="item.refundStatus =='SENDING'" ng-click="submitBoughtDelivery(item.id,1)">退货</span>
                        <span class=" mbpz soldBtn" ng-if="item.refundStatus =='WAIT_RECEIVE'" ng-click="warnSubmit(item.id)">提醒收货</span>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="refundsBoughtLoadMore()"
                ng-if="!noMoreLoad"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
