<ion-view class="productListByType">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button"><span class="icon ion-ios-arrow-back"></span></button>
        </div>
        <h1 class="title" ng-bind="pageTitle"></h1>
    </ion-header-bar>
    <ion-content>
        <div ng-show="$scope.productList.length == 0" class="notFoundList">

        </div>

        <div class="card-group card-per">
            <div class="card-item-per">

            </div>
            <div class="card-item-per">

            </div>
        </div>

    </ion-content>
</ion-view>