<ion-view class="productListByType">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button"><span class="icon ion-ios-arrow-back"></span></button>
        </div>
        <h1 class="title" ng-bind="pageTitle"></h1>
    </ion-header-bar>
    <div class="filterGroup"></div>
    <div ng-if="productList == null" class="notFoundList">
        暂无数据
    </div>
    <ion-content>
        <div ng-if="productList !=null && productList.length != 0" class="card-group card-per">
            <div class="card-item-per" ng-repeat="product in productList track by $index">
                <div class="card-item-per-body">
                    <div class="bgImg" id="productImage{{$index}}" ng-style="resizeImage('productImage{{$index}}',product.productImageList[0].location,'1:1')"></div>
                    <div class="title" ng-bind="product.title"></div>
                    <div><span class="mbpz mbpz-icon-money price"></span><span class="price padding-small-right" ng-bind="product.currentPrice"></span><span class="originalPrice" ng-bind="product.originalPrice"></span></div>
                    <div class="row row-no-padding">
                        <div class="col col-60 text-left padding-small-horizontal padding-small-vertical text-overflow">
                            <span class="address" ng-bind="product.userLocation.city"></span>
                            <span class="address" ng-bind="product.userLocation.district"></span>
                        </div>
                        <div class="col text-right padding-small-horizontal padding-small-vertical text-overflow">
                            <span class="publicTime" ng-bind="parseTime(product.publicDate)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                class="tabsInfinite"
                ng-if="infiniteFlag">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>