<ion-view class="orderAddress">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goOwnBack()"><span class="icon ion-ios-arrow-back"></span></button>
        </div>
        <h1 class="title">地址管理</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <ion-list>
            <ion-item class="item-icon-right" ng-click="edictAddress(address)" ng-repeat="address in addressList track by $index">
                <span class="icon ion-checkmark-circled isDefault" ng-if="address.isDefault"></span>
                <div class="userTitle" ng-bind="address.receiveName + '&nbsp;&nbsp;&nbsp;&nbsp;' + address.receivePhone"></div>
                <div class="userAddress" style="white-space: normal" ng-bind="address.address"></div>
                <ion-option-button class="button-positive" ng-click="edictAddress(address,1)">编辑</ion-option-button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                class="tabsInfinite"
                ng-if="infiniteFlag">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="center">
        <button type="button" class="button-block submit" ng-click="edictAddress()">添加新地址</button>
    </ion-footer-bar>
</ion-view>