<ion-view class="tabsShop">
    <ion-header-bar align-title="center" class="messages">
        <h1 class="title">我的</h1>
        <div class="buttons">
            <button class="button" ng-click="myCenterSetup('myCenterSetup')"><i class="ion-ios-gear-outline"></i></button>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <div class="list">
            <a class="item item-avatar item-icon-right personal-user-image" href="#">
                <div class="bgImg border-radius-round" id="publicUserImage{{$index}}" ng-style="resizeImage('publicUserImage{{$index}}',(product.publicUser.userImg||defaultHead),'1:1')"></div>
                <p class="personal-name">name</p>
                <p>性别 | 未设置</p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item  item-icon-left item-icon-right" ng-click="myCenterSetup('myCenterWallet')">
                <i class="icon "><img src="{{mineWallet}}" class="myCenterImg"></i>
                <p class="personalTitles">我的钱包</p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item  item-icon-left item-icon-right" ng-click="">
                <i class="icon "><img src="{{mineRefunds}}" class="myCenterImg"></i>
                <p class="personalTitles">退款管理</p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item  item-icon-left item-icon-right" ng-click="myCenterSetup('postRelease.sell')">
                <i class="icon "><img src="{{mineRelease}}" class="myCenterImg"></i>
                <p class="personalTitles">宝贝发布</p>
                <p class="personalNum" ng-bind="productPublicCount"></p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item  item-icon-left item-icon-right" ng-click="myCenterSetup('mySold')">
                <i class="icon "><img src="{{mineSold}}" class="myCenterImg"></i>
                <p class="personalTitles">宝贝已售</p>
                <p class="personalNum" ng-bind="productSoldCount"></p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item  item-icon-left item-icon-right" ng-click="myCenterSetup('myBought')">
                <i class="icon "><img src="{{mineBuy}}" class="myCenterImg"></i>
                <p class="personalTitles">宝贝已购</p>
                <p class="personalNum" ng-bind="productBoughtCount"></p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item  item-icon-left item-icon-right" ng-click="myCenterSetup('myCollection')">
                <i class="icon "><img src="{{mineCollect}}" class="myCenterImg"></i>
                <p class="personalTitles">宝贝收藏</p>
                <p class="personalNum" ng-bind="productCollectCount"></p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item  item-icon-left item-icon-right" ng-click="myCenterSetup('myShelves')">
                <i class="icon "><img src="{{mineUndercarriage}}" class="myCenterImg"></i>
                <p class="personalTitles">下架管理</p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item  item-icon-left item-icon-right" ng-click="myCenterSetup('orderAddress')">
                <i class="icon "><img src="{{mineAdd}}" class="myCenterImg"></i>
                <p class="personalTitles">地址管理</p>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <div class="item item-divider">
            </div>
        </div>
    </ion-content>
</ion-view>