<ion-view class="tabsHome">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="showMsg('地址')"><span>上海</span><i class="mbpz mbpz-icon-arrow-down"></i></button>
        </div>
        <h1 class="title">萌宝铺子</h1>
        <div class="buttons">
            <button class="button" ng-click="showMsg('搜索')"><i class="mbpz mbpz-icon-search"></i></button>
        </div>
    </ion-header-bar>
    <div class="header-zs"></div>
    <ion-content>
        <ion-slide-box class="headSliders margin-normal-bottom" delegate-handle="adSlideBox" does-continue="false" auto-play="true" slide-interval="1000" show-pager="{{showPager}}">
            <ion-slide ng-repeat="ad in adList track by $index">
                <div id="adHead{{$index}}" class="bgImg" ng-style="resizeImage('adHead{{$index}}',ad.adImg,'3:1')"></div>
            </ion-slide>
        </ion-slide-box>

        <div class="bg-color-white padding-normal-horizontal">
            <div class="homeType">
                <div class="homeTypeItem">
                    <span><i class="mbpz mbpz-icon-guanfang bg-color-yellow"></i></span>
                    <span>官方推荐</span>
                </div>
                <div class="homeTypeItem">
                    <span><i class="mbpz mbpz-icon-muying bg-color-main-green"></i></span>
                    <span>宝宝用品</span>
                </div>
                <div class="homeTypeItem">
                    <span><i class="mbpz mbpz-icon-meifu bg-color-main-red"></i></span>
                    <span>妈妈用品</span>
                </div>
                <div class="homeTypeItem">
                    <span><i class="mbpz mbpz-icon-jujia bg-color-main-brown"></i></span>
                    <span>居家商品</span>
                </div>
            </div>
            <div class="row padding-none-horizontal">
                <div class="col col-25 padding-none-horizontal padding-small-vertical border-right">
                    <div class="col-75 col-offset-10">
                        <img class="img-auto" ng-src="{{homeQGXX}}">
                    </div>
                </div>
                <div class="col padding-small-vertical padding-none-right padding-normal-left col-center overflow-hidden">
                    <div class="homeQGItem" ng-repeat="QGXX in QGXXList track by $index">
                        <span>求购</span>
                        <span ng-bind="QGXX.title"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-zx">
            <div class="line"></div>
            <div class="title">最新商品</div>
        </div>

        <div class="card-group">
            <div class="card-item-normal" ng-repeat="product in productList track by $index">
                <div class="row padding-none-horizontal padding-normal-vertical">
                    <div class="col col-25 col-center padding-none-horizontal padding-none-vertical">
                        <div class="col col-75 col-offset-10 padding-none-vertical">
                            <div class="bgImg border-radius-round" id="publicUserImage{{$index}}" ng-style="resizeImage('publicUserImage{{$index}}',product.publicUser.userImg,'1:1')"></div>
                        </div>
                    </div>
                    <div class="col col-center padding-none-vertical padding-normal-horizontal">
                        <div ng-bind="product.publicUser.nickName" class="userNick"></div>
                        <div ng-bind="parseTime(product.publicDate)" class="publicTime"></div>
                    </div>
                </div>
                <div class="row padding-small-horizontal" ng-if="checkProductImages(product.productImageList).length !=0">
                    <div class="col col-33 col-center padding-small-horizontal padding-none-vertical" ng-repeat="productImage in checkProductImages(product.productImageList) track by $index">
                        <div id="productImage{{$parent.$index+'_'+$index}}" class="bgImg" ng-style="resizeImage('productImage{{$parent.$index+'_'+$index}}',productImage.location,'1:1')" ></div>
                    </div>
                </div>
                <div class="productContent" ng-bind="product.content"></div>
            </div>

        </div>

    </ion-content>
</ion-view>