<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="backupDown('tabs.tabsPersonal')"><span class="icon ion-ios-arrow-back">我的</span></button>
        </div>
        <h1 class="title">我的钱包</h1>
    </ion-header-bar>
    <ion-content class="wallet-content">
        <div class="list">
            <div class="item walletDiv" >
                <p >我的账户余额</p>
                <p>0.00</p>
            </div>
            <div class="item item-icon-left item-icon-right" >
                <i class="icon ion-ios-arrow-forward"></i>
                <h2>预收款</h2>
                <i class="icon">0.00</i>
            </div>
            <div class="withdrawalSty"  >
                如需提现请下载萌宝铺子
            </div>
        </div>

    </ion-content>
</ion-view>