<ion-view class="productDetail product">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBackBefore()"><i class="icon ion-ios-arrow-back"></i></button>
        </div>
        <h1 class="title">宝贝详情</h1>
        <div class="buttons">
            <button class="button" ng-click="openPopover($event,'productReport')"><i class="mbpz mbpz-icon-more"></i></button>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true" overflow-scroll="false" delegate-handle="productHandle">
        <div class="productDetailBody padding-small-vertical border-bottom">
            <div class="row row-no-padding">
                <div class="col col-center" ng-click="showPersonalCenter($event,product.publicUser.id,product.type,product.id)">
                    <div class="col padding-none-horizontal padding-none-vertical">
                        <div class="bgImg bgImg-1-1 border-radius-round" ng-style="setBackGroundImage(product.publicUser.userImg?product.publicUser.userImg+'@414w':defaultHead)"></div>
                    </div>
                </div>
                <div class="col col-50 col-center" ng-click="showPersonalCenter($event,product.publicUser.id,product.type,product.id)">
                    <span ng-bind="product.publicUser.nickName" class="userNick"></span>
                </div>
                <div class="col col-33 col-center text-center">
                    <div class="contact  padding-big-vertical" ng-click="contactSeller(product.publicUser,product.id,product.type,0)"><span class="mbpz mbpz-icon-replies"></span>联系卖家</div>
                </div>
            </div>
        </div>
        <div class="productDetailBody">
            <div class="row row-no-padding">
                <div class="col col-75 col-center padding-normal-right title">
                    <span ng-if="product.isRecommoned == 1" class="recommoned">官方推荐</span>
                    <span ng-bind="product.title" ng-class="{true:'padding-small-left',false:''}[product.isRecommoned == 1]"></span>
                </div>
                <div class="col col-center text-right counts">
                    <span class="mbpz mbpz-icon-readers"></span>
                    <span ng-bind="product.browseNumber||0">1212</span>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col col-center padding-big-top">
                    <span class="mbpz mbpz-icon-money price"></span>
                    <span class="price padding-small-right" ng-bind="product.currentPrice"></span>
                    <span class="originalPrice padding-small-right" ng-bind="product.originalPrice" ng-if="product.originalPrice"></span>
                    <span class="freight">运费：<span ng-bind="(product.freight||0)+'.0'"></span></span>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col col-center padding-big-vertical">
                    <span class="content" ng-bind="product.content"></span>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col col-center padding-small-vertical border-bottom">
                    <span class="publicTime" ng-bind="product.publicDate"></span>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col col-center padding-normal-top">
                    <span class="mbpz mbpz-icon-position address"></span>
                    <span ng-if="product.userLocation==null" class="address">未知</span>
                    <span ng-if="product.userLocation!=null" class="address" ng-bind="product.userLocation.city"></span>
                    <span ng-if="product.userLocation!=null" class="address" ng-bind="product.userLocation.district"></span>
                </div>
            </div>
            <div class="row row-no-padding margin-normal-top" ng-repeat="productImage in product.productImageList track by $index">
                <div class="col">
                    <img class="img-auto" ng-src="{{productImage.location+'@414w'}}">
                </div>
            </div>
        </div>
        <ion-list class="replyBody" id="replyBody">
            <ion-item class="row row-no-padding" ng-repeat="reply in replyList track by $index" ng-click="productReply($event,reply.createUser)">
                <div class="col col-15 col-top padding-normal-horizontal padding-normal-vertical">
                    <div class="bgImg bgImg-1-1 border-radius-round" ng-style="setBackGroundImage(reply.createUser.userImg?reply.createUser.userImg+'@414w':defaultHead)"></div>
                </div>
                <div class="col col-60 col-center padding-normal-horizontal padding-normal-vertical">
                    <div ng-bind="reply.createUser.nickName" class="userNick"></div>
                    <div class="margin-normal-top"><span ng-bind="reply.contents" class="content"></span></div>
                </div>
                <div class="col col-top text-right padding-normal-horizontal padding-normal-vertical">
                    <span ng-bind="parseTime(reply.createDate)" class="publicTime"></span>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                class="tabsInfinite"
                ng-if="infiniteFlag">
        </ion-infinite-scroll>
    </ion-content>

    <div class="userCtrl">
        <div ng-click="productReply($event,product.publicUser)"><span class="mbpz mbpz-icon-replies padding-small-right"></span><span ng-bind="product.replyNumber"></span></div>
        <div class="judge star" ng-click="judgeProduct()">
            <span class="mbpz" ng-class="{true:'mbpz-icon-star',false:'mbpz-icon-fill-star'}[product.isCollect==null||product.isCollect==0]"></span>
        </div>
        <div ng-show="false">
            <span class="icon ion-share padding-small-right"></span>分享
        </div>
        <button class="submit" ng-disabled="product.productStatus==1||userInfo.loginAccount==product.publicUser.loginAccount" ng-click="buyProduct()">
            <span ng-if="product.productStatus==0">我要买</span>
            <span ng-if="product.productStatus==1">已下架</span>
        </button>
    </div>
</ion-view>