<ion-view class="report">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBack()"><span class="icon ion-ios-arrow-back"></span></button>
        </div>
        <h1 class="title">举报</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <div class="title">请选择举报原因</div>
        <div class="reportBody">
            <ion-item ng-repeat="reportType in reportTypeList track by $index" class="item-icon-left reportItem">
                <input type="radio" name="report" ng-model="reportReason.choiceType" ng-value="reportType.value" class="reportRadio">
                <i class="iconTarget">
                    <i class="icon ion-ios-circle-outline unchecked"></i>
                    <i class="icon ion-ios-checkmark-outline checked"></i>
                </i>
                <div class="row row-no-padding">
                    <div class="col col-center" ng-bind="reportType.name"></div>
                </div>
            </ion-item>
            <div class="reasonBody" ng-if="reportTypeList&&reportTypeList.length>0">
                <textarea maxlength="200" ng-disabled="reportReason.choiceType!=4" placeholder="其输入其他举报内容" ng-model="reportReason.reasonText">
                </textarea>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button type="button" class="button-block submit" ng-click="submitReport(reportReason.choiceType,reportReason.reasonText)">提交申请</button>
    </ion-footer-bar>
</ion-view>