<ion-view class="productDetail">
    <ion-header-bar align-title="center" ng-if="(product.productImageList==null)||(product.productImageList.length==0)">
        <div class="buttons">
            <button class="button" ng-click="goBackBefore()"><i class="icon ion-ios-arrow-back"></i></button>
        </div>
        <h1 class="title">求购</h1>
        <div class="buttons">
            <button class="button" ng-click="openPopover($event,'productReport')"><i class="mbpz mbpz-icon-more"></i></button>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true" overflow-scroll="false" delegate-handle="productHandle">
        <div class="header" ng-if="(product.productImageList!=null)&&(product.productImageList.length>0)">
            <span ng-click="goBackBefore()" class="icon ion-ios-arrow-back"></span>
            <span class="icon ion-more" ng-click="openPopover($event,'productReport')"></span>
        </div>
        <ion-slide-box ng-show="product.productImageList!=null"
                       ng-class="{true:'margin-normal-bottom',false:''}[productType==1]"
                       class="headSliders"
                       delegate-handle="productSlideBox"
                       does-continue="false"
                       auto-play="true" slide-interval="2000" show-pager="{{showPager}}">
            <ion-slide ng-repeat="productImage in product.productImageList track by $index">
                <div class="bgImg bgImg-1-1" ng-style="setBackGroundImage((productImage.location)+'@414w')"></div>
            </ion-slide>
        </ion-slide-box>

        <div class="productDetailBody">
            <div class="row row-no-padding">
                <div class="col col-75 col-center padding-normal-right title">
                    <span ng-bind="product.title"></span>
                </div>
                <div class="col col-center text-right counts">
                    <span class="mbpz mbpz-icon-readers"></span>
                    <span ng-bind="product.browseNumber||0">1212</span>
                </div>
            </div>
        </div>
        <div class="productDetailBody margin-normal-top">
            <div class="row row-no-padding border-bottom">
                <div class="col col-center" ng-click="showPersonalCenter($event,product.publicUser.id,product.type,product.id)">
                    <div class="col padding-none-horizontal">
                        <div class="bgImg bgImg-1-1 border-radius-round" ng-style="setBackGroundImage(product.publicUser.userImg?product.publicUser.userImg+'@414w':defaultHead)"></div>
                    </div>
                </div>
                <div class="col col-50 col-center" ng-click="showPersonalCenter($event,product.publicUser.id,product.type,product.id)">
                    <span ng-bind="product.publicUser.nickName" class="userNick"></span>
                </div>
                <div class="col col-33 col-center text-center">
                    <div class="contact padding-big-vertical" ng-click="contactSeller(product.publicUser,product.id,150)"><span class="mbpz mbpz-icon-replies"></span>联系卖家</div>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col col-center padding-big-vertical">
                    <span class="content" ng-bind="product.content"></span>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col col-center padding-small-vertical border-bottom">
                    <span class="publicTime" ng-bind="parseTime(product.publicDate)"></span>
                    <span class="publicTime">发布</span>
                </div>
            </div>
            <div class="row row-no-padding">
                <div class="col col-center padding-normal-top">
                    <span class="mbpz mbpz-icon-position address"></span>
                    <span ng-if="product.userLocation==null" class="address">未知</span>
                    <span ng-if="product.userLocation!=null" class="address" ng-bind="product.userLocation.city"></span>
                    <span ng-if="product.userLocation!=null" class="address" ng-bind="product.userLocation.district"></span>
                </div>
            </div>
        </div>

        <ion-list class="replyBody" id="replyBody">
            <ion-item ng-if="reply.isRecommoned == 1" class="row row-no-padding replyRecommoned" ng-repeat="reply in replyList track by $index" ng-click="showResolveProduct($event,reply.resolveProductId)">
                <div class="col col-75 padding-normal-horizontal padding-normal-vertical">
                    <span class="recommoned">官方推荐</span>
                    <div class="margin-normal-top white-space">推荐理由：<span ng-bind="reply.contents"></span></div>
                </div>
                <div class="col padding-normal-horizontal padding-normal-vertical">
                    <div ng-if="reply.recommonedProductImageList != null" class="bgImg bgImg-1-1" ng-style="setBackGroundImage(reply.recommonedProductImageList[0].location+'@414w')" ng-click="showResolveProduct($event,reply.resolveProductId)"></div>
                </div>
            </ion-item>
            <ion-item ng-if="reply.isRecommoned == null" class="row row-no-padding replyNormal" ng-class="{true:'',false:'disabled'}[userInfo?userInfo.id==product.publicUser.id:true]" ng-repeat="reply in replyList track by $index" ng-click="productReply($event,reply.createUser)">
                <div class="col col-15 col-top padding-normal-horizontal padding-normal-vertical" ng-click="showPersonalCenter($event,reply.createUser.id)">
                    <div class="bgImg bgImg-1-1 border-radius-round" ng-style="setBackGroundImage(reply.createUser.userImg?reply.createUser.userImg+'@414w':defaultHead)"></div>
                </div>
                <div class="col col-60 col-center padding-normal-horizontal padding-normal-vertical">
                    <div><span class="userNick" ng-bind="reply.createUser.nickName" ng-click="showPersonalCenter($event,reply.createUser.id)"></span><span class="publicTime padding-normal-left" ng-bind="parseTime(reply.createDate)"></span><span class="publicTime">回复</span></div>
                    <div class="margin-normal-top"><span class="content" ng-bind="reply.contents"></span></div>
                </div>
                <div class="col padding-normal-horizontal padding-normal-vertical">
                    <div ng-if="reply.recommonedProductImageList != null" class="bgImg bgImg-1-1" ng-style="setBackGroundImage(reply.recommonedProductImageList[0].location+'@414w')" ng-click="showResolveProduct($event,reply.resolveProductId)"></div>
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                class="tabsInfinite"
                ng-if="infiniteFlag">
        </ion-infinite-scroll>
    </ion-content>
    <div class="userCtrl">
        <div ng-click="productReply($event,product.publicUser,0)"><span class="mbpz mbpz-icon-replies"></span><span ng-bind="product.replyNumber"></span></div>
        <div class="judge zan" ng-click="judgeProduct()">
            <span class="mbpz" ng-class="{true:'mbpz-icon-zan',false:'mbpz-icon-zansel'}[product.isSpot==null||product.isSpot==0]"></span>
        </div>
        <div ng-show="false">
            <span class="icon ion-share padding-small-right"></span>分享
        </div>
        <button class="submit" ng-disabled="product.isResolve==1" ng-click="submitShop()">
            <span ng-if="userInfo.loginAccount==product.publicUser.loginAccount">
                <span ng-if="userInfo.isResolve==null||userInfo.isResolve==0">确认解决</span>
                <span ng-if="userInfo.isResolve==1">已解决</span>
            </span>
            <span ng-if="userInfo.loginAccount!=product.publicUser.loginAccount">推荐给TA</span>
        </button>
    </div>
</ion-view>