<ion-view class="personal-setup">
    <!--<ion-header-bar align-title="center">-->
        <!--<div class="buttons">-->
            <!--<button class="button" ng-if="routers==0" ng-click="backupDown('myBought')"><span class="icon ion-ios-arrow-back"></span></button>-->
            <!--<button class="button" ng-if="routers==1" ng-click="backupDown('tabs.tabsHome')"><span class="icon ion-ios-arrow-back"></span></button>-->
        <!--</div>-->
        <!--<h1 class="title">支付</h1>-->
    <!--</ion-header-bar>-->
    <ion-content class="aliPayContent">
        <!--<pay></pay>-->
    </ion-content>
</ion-view>