<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBack()"><span class="icon ion-ios-arrow-back">设置</span></button>
        </div>
        <h1 class="title">交易条款</h1>
    </ion-header-bar>
    <ion-content class="agreement-content">
        <div class="row">
            <ul>
                <li>
                    <p  class="agreementTitle">
                        第一条 定义
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        1.1、逾期未付款：是指买方选择线上交易，在线拍下萌宝铺子平台物品，使该物品处于已下订单未支付状态，买方在拍下后3小时内未完成在线付款，视为逾期未付款，所拍下的该物品订单交易将自动关闭，状态变更为“关闭交易”产品自动上架。
                    </p>
                    <p class="agreementContext">
                        1.2、交易状态：是指通过萌宝铺子平台的在线交易订单，将根据交易进度分为“已拍下”、“已付款”、“已发货”、“已收货”、“退货”5种交易状态。
                    </p>
                    <p class="agreementContext">
                        1.3、已拍下：是指通过萌宝铺子平台在线交易的买方用户，与卖方用户达成初步交易协议，点击“我想要”，进入付款页面并填写完成相应交易信息，点击“确认”即视为确定购买，交易状态显示为“已拍下”。若买方在拍下后3个小时内未完成在线付款，视为逾期未付款，所拍下的该物品订单交易将自动关闭，状态变更为“关闭交易”，物品自动上架。
                    </p>
                    <p class="agreementContext">
                        1.4、已付款：是指通过萌宝铺子平台在线交易的买方客户，在拍下卖方发布的物品后并完成在线付款，交易状态显示为“已付款”。
                    </p>
                    <p class="agreementContext">
                        1.5、已发货：是指通过萌宝铺子平台在线交易的卖方用户，发出货物并及时在线提交发货物流信息（包含但不仅限于快递方、快递单号等），在萌宝铺子物流平台显示为已发货状态后，视为“已发货”。
                    </p>
                    <p class="agreementContext">
                        1.6、已收货：是指通过萌宝铺子平台在线交易的买方用户，进行闲置物品交易过程中，对交易物品发生实际签收或收受行为，并在萌宝铺子物流平台显示为已收货状态，或买家发货后卖家10个自然日内不确认收货也未取消该笔订单，系统自动确认收货，两种情况均视为“已收货”。
                    </p>
                    <p class="agreementContext">
                        1.7、退货：是指通过萌宝铺子平台在线交易的买方用户，在“已拍下”、“已付款”和“已发货”三种交易状态中均可提出退货申请。若卖方对退货有任何异议，可与买家协商，协商不成，可以提起申诉，在线申请转交萌宝铺子平台客服进行争议解决，萌宝铺子官方介入协调。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第二条 支付方式
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        2.1、支付方式：买家可通过支付宝、微信在线付款（暂未开通）。
                    </p>
                    <p class="agreementContext">
                        2.2、萌宝铺子平台担保交易：买家因交易发生支付时，先行通过其支付宝或微信支付方式将交易款项支付至萌宝铺子平台中间账户，待买家确认收货或本协议约定的收货期限届满时，
                        由萌宝铺子平台将该款项支付至卖家的萌宝铺子余额中。如在线交易双方就支付事项无法达成一致意见期间，则视为买卖双方共同同意将该笔付款暂时冻结在萌宝铺子平台中，直至双方达成一致意见后，
                        萌宝铺子平台就该笔付款予以解冻并根据买卖双方的共同意愿予以支付。并且买卖双方用户同意，萌宝铺子将代收款项支付卖家后，非经法律程序或者非依本协议之约定，该支付是不可能撤销的，萌宝铺子
                        的支付行为视为经买卖双方的共同授权代为支付的行为。 如卖家确认该笔交易已取消，即视为买卖双方共同同意委托萌宝铺子平台将该支付款项原路退还买家。担保交易仅限于确保买卖双方依约发货及支付货款。（平台保证金）
                    </p>
                    <p class="agreementContext">
                        2.3、逾期未付款：买家在线拍下萌宝铺子平台上发布的物品，使得该物品处于已下订单未支付状态，买家应在拍下后3个小时内完成在线付款。逾期不付款，视为买家逾期未付款，订单关闭。
                    </p>
                    <p class="agreementContext">
                        2.4、发货：通过萌宝铺子平台在线交易的用户，卖家应在5个自然日内发出货物并及时在线提交发货物流信息（包含但不限于快递方、快递单号等），在萌宝铺子平台的物流信息显示为已发货状态后，即视为“已发货”。逾期不发货或不点击“发货”，买家可申请取消交易并退款。
                    </p>
                    <p class="agreementContext">
                        2.5、收货：通过萌宝铺子平台在线交易的用户，进行闲置物品交易过程中，对交易物品的实际签收或收受的行为。若买家在卖家发货后 10   个自然日内未确认收货也未取消该笔订单，则视为买家默认收货。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第三条 交易条款
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        3.1、基本交易流程

                    </p>
                    <p class="agreementContext">
                        卖家在萌宝铺子平台发布商品信息——买家在萌宝铺子平台拍下商品——等待买家付款（逾期未付款则该交易自动取消）——买家支付款项至萌宝铺子平台中间账户——卖家发货（卖家可选择通过快递公司发货，或由买卖双方自行约定收货时间和地点）——买家确认收货（自卖家发货起10个自然日内买家没有确认收货也未取消该笔订单，系统视为默认收货）——萌宝铺子平台将代收款项转给卖家。
                    </p>
                    <p class="agreementContext">
                        3.2、交易规则
                    </p>
                    <p class="agreementContext">
                        3.2.1、付款超时：买家拍下货物应在3小时内付款，逾期未付款，则系统自动取消交易，该商品自动上架。
                    </p>
                    <p class="agreementContext">
                        3.2.2、发货超时：卖家在买家拍下货物并付款后5个自然日内未发货或未点击发货，买家可申请取消交易并退款。卖家如在买家发起退款申请后5个自然日内及时提交发货信息，则退款流程关闭，交易正常进行；否则，款项由萌宝铺子平台按买家原支付路径自动退回买家账户。
                    </p>
                    <p class="agreementContext">
                        3.2.3、收货确认超时：若10个自然日内买家未确认收货也未取消该笔订单，则系统默认买家已收货，萌宝铺子平台会将货款支付给卖家。
                    </p>
                    <p class="agreementContext">
                        3.2.4、拒绝退款超时：买家可在规定期限内在萌宝铺子平台发起申请退款。若卖家超过规定期限内未拒绝该退款申请，系统默认卖家同意退款，萌宝铺子平台将款项按买家原支付路径自动退回买家账户；
                    </p>
                    <p class="agreementContext">
                        卖家受理退款申请最长期限为：卖家未发货时买家申请退款，如卖家未受理，则5个自然日后自动达成退款；卖家已发货时买家申请退款，如卖家未受理，则10个自然日后自动达成退款。
                    </p>
                    <p class="agreementContext">
                        每笔交易买家和卖家可以多次发起／拒绝退款申请；
                    </p>
                    <p class="agreementContext">
                        单笔交易如果从买家第一次申请退款起超过10个自然日买卖双方尚未达成一致，则买方可以在线申请转交萌宝铺子平台客服进行争议解决；
                    </p>
                    <p class="agreementContext">
                        3.2.5、退货退款流程：若卖家同意退款或系统默认卖家同意退款，如买家已收到货物并需要向卖家退还货物的，卖家应提供退货地址给买家。买家需在5个自然日内寄回货物并在萌宝铺子平台上填写退货物流信息（包含但不限于快递方、快递单号等）。卖家确认收货后，款项由萌宝铺子平台按买家原支付路径自动退回买家账户。如买家未在上述期限内填写退货物流信息，系统默认为取消退货退款，退货退款流程关闭，交易正常进行。
                    </p>
                    <p class="agreementContext">
                        3.2.6、拒绝退款：卖家拒绝退款，买家可在2个自然日内继续申请，如买家不继续申请，系统默认买家取消退款申请，退款流程关闭，交易正常进行。
                    </p>
                    <p class="agreementContext">
                        3.2.7、买家已退货，卖家超时确认：买家已退货，卖家在买家退货后10个自然日内没有确认收货或拒绝退款，系统默认为卖家收到退还货物并同意退款，款项由萌宝铺子平台按买家原支付路径自动退回买家账户。
                    </p>
                    <p class="agreementContext">
                        3.2.8、买家已退货，卖家拒绝退款：买家已退货，但卖家拒绝退款，在拒绝退款后的3自然日内，如果卖方没有申请萌宝铺子平台客服解决，系统默认为卖家同意退款，款项由萌宝铺子平台按买家原支付路径自动退回买家账户。
                    </p>
                    <p class="agreementContext">
                        3.2.9其他退款规定：发货前买家申请退款只能是全额退款。发货后买家申请退款可以选择全额退款也可以选择部分退款，以买卖双方协商为准。卖方如已实际发货，但未再及时在线提交发货信息，需在买方申请退款后5个自然日内及时提交发货信息。否则，款项由萌宝铺子平台按买家原支付路径自动退回买家账户。
                    </p>
                    <p class="agreementContext">
                        3.3、交易程序：
                    </p>
                    <p class="agreementContext">
                        3.3.1、添加产品描述信息。产品描述是由卖家提供的在萌宝铺子平台上展示的文字描述、图片，可以是对卖家拥有并希望出售的产品描述；或对买家正寻找的产品的描述。用户可在萌宝铺子平台发布任一类合法产品描述。萌宝铺子不对产品描述的准确性或内容负责。
                    </p>
                    <p class="agreementContext">
                        3.3.2、就交易进行协商买卖各方可通过在萌宝铺子平台上明确发布的物品描述，进行相互协商。除非在特殊情况下，诸如用户在用户发布物品后实质性地更改对物品的描述或澄清任何文字输入错误等，物品的描述和对其的承诺均禁止撤回。
                    </p>
                    <p class="agreementContext">
                        3.3.3、为防止交易双方中出现的毁约等不道德现象，保障用户物品交易中的合法权限不被侵害，针对在线交易，萌宝铺子推行萌宝铺子平台担保交易。
                    </p>
                    <p class="agreementContext">
                        3.3.4、买家对收取的货物不满意（包括但不限于产品描述与实际物品不符合，如：商品名称、商品型号、商品图片、保质期、非本商品等），有权申请退款。如果买家因此遭受损失，由过错方承担相关费用及责任。
                    </p>
                    <p class="agreementContext">
                        3.3.5、出现以下情形之一，萌宝铺子平台客服不予处理，交由买卖方自行协调：
                    </p>
                    <p class="agreementContext">
                        因商品存在危机人身财产权、人身健康权的不合理危险，导致买家损失的；
                    </p>
                    <p class="agreementContext">
                        买家逾期未根据协议约定或萌宝铺子规定的退货时间内操作退货的；
                    </p>
                    <p class="agreementContext">
                        商品在收退货过程中因物流公司的原因导致损毁、丢失的；
                    </p>
                    <p class="agreementContext">
                        买卖双方采用当面交付的方式进行交易。
                    </p>
                    <p class="agreementContext">
                        3.3.6、萌宝铺子客服处理纠纷时，出现以下情况之一，有权终止协调和处理争议：
                    </p>
                    <p class="agreementContext">
                        买卖双方明确要求自行处理争议；
                    </p>
                    <p class="agreementContext">
                        买卖双方任何一方通知萌宝铺子即将通过司法途径解决争议；
                    </p>
                    <p class="agreementContext">
                        3.4、违约赔偿
                    </p>
                    <p class="agreementContext">
                        3.4.1、逾期交付货物的，违约方承担违约责任。萌宝铺子有权调查并收集违约证据。
                    </p>
                    <p class="agreementContext">
                        3.4.2、用户违反有关法律、法规、公共道德或本协议项下的任何条款均构成违约，给另一方或其他第三人造成损失的，责任方应当承担由此造成的一切损失。萌宝铺子有权视情况终止其用户资格。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        第四条 用户交易规范
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        买卖双方必须秉持诚信交易原则，卖家不可故意夸大实物从而误导买家；买家不可刻意损坏物品从而获取退款或退货机会；一旦发生此类事件，利益受损方可向萌宝铺子客服寻求协助，客服介入调查解决；
                    </p>
                    <p class="agreementContext">
                        闲置交易本身是个体对闲置或二手物品的出售，所以在购买前请双方就细节问题认真沟通，以免造成不必要的误会和麻烦，买家可以要求卖家多拍实物图；
                    </p>
                    <p class="agreementContext">
                        一旦卖家已发货，买家不可在未确认收货的时候随意取消订单或申请退款，必须在收到货，确认货物有质量问题或与描述不符时方可申请退货退款；
                    </p>
                    <p class="agreementContext">
                        卖家若涉嫌虚假物品交易，骗取钱财、滥发信息，经买家投诉，客服审核通过后，将冻结卖家账号，并视情况终止其用户资格；
                    </p>
                    <p class="agreementContext" style="padding-bottom:50px;">
                        买卖双方只可交易闲置物，不可进行商业代购或商业代卖。一旦收到投诉或经由客服发现，将冻结其账号，并视情况终止其用户资格。
                    </p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>