<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="backupDown('myCenterSetup')"><span class="icon ion-ios-arrow-back">设置</span></button>
        </div>
        <h1 class="title">帮助中心</h1>
    </ion-header-bar>
    <ion-content class="help-content">
        <div class="row">
            <ul>
                <li>
                    <p class="question">Q：发布的商品怎么样才能被更多的人浏览呢？</p>
                    <p class="answer">A：这需要您的商品描述详细，图片丰富。</p>
                </li>
                <li>
                    <p class="question">Q：发布商品时提示失败怎么解决？</p>
                    <p class="answer">A：检查商品描述和商品标题是否有违规内容，如果有违规内容进行修改即可发布，如果未发现可以截图并联系客服解决。</p>
                </li>
                <li>
                    <p class="question">Q：下架商品可以重新上架吗？</p>
                    <p class="answer">A： 因被拍下未付款导致交易失败的商品是可以重新上架的，如已成功付款的已卖出商品想重新上架则需要再重新发布一次。</p>
                </li>
                <li>
                    <p class="question">Q：在平台卖出了东西，钱款打到哪里？</p>
                    <p class="answer">A：在买家完成“确认收货”操作后，钱款将会被打至卖家在萌宝铺子的余额中，在“我的钱包”中可以查看，并申请提现。</p>
                </li>
                <li>
                    <p class="question">Q：脱离平台“担保交易”打款</p>
                    <p class="answer">A：引导进行线下交易或其它平台交易，款项不经萌宝铺子平台担保。脱离平台交易，萌宝铺子无法对卖家双方进行担保。</p>
                </li>
                <li>
                    <p class="question">Q：未收到货被引导点击确认收货</p>
                    <p class="answer">A：卖家联系买家说已经发货，引导买家提前确认收货。只有在确认货物无误的情况下才进行确认收货操作。如发生上述情况，可联系萌宝铺子平台客服，提供物流记录及与卖家聊天记录，申请暂时冻结该订单货款，直到收货完毕确认无误后告知平台解除冻结。如发生纠纷，可向平台申请仲裁。</p>
                </li>
                <li>
                    <p class="question"> Q：实际商品与描述不符</p>
                    <p class="answer">A：收到的商品与商品详情中的描述和图片不符合。在收到货物后认真检查，如发现描述不符，应进行拍照取证，与卖家沟通，如果发现卖家存在诈骗行为，可向平台申请仲裁。</p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>