<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBack()"><span class="icon ion-ios-arrow-back">我的</span></button>
        </div>
        <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item item-divider">
        </div>
        <a class="item  item-icon-right" ng-click="myCenterSetup('personalFeedback')">
            <h2>意见与反馈</h2>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <div class="item item-divider">
        </div>
        <a class="item  item-icon-right" ng-click="myCenterSetup('personalAgreement')">
            <h2>用户协议</h2>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item  item-icon-right" ng-click="myCenterSetup('personalTerms')">
            <h2>交易条款</h2>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item  item-icon-right" ng-click="myCenterSetup('personalSpecification')">
            <h2>行为规范</h2>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item  item-icon-right" ng-click="myCenterSetup('personalHelp')">
            <h2>帮助中心</h2>
            <i class="icon ion-ios-arrow-forward"></i>
        </a>

    </ion-content>
</ion-view>