<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBack()"><span class="icon ion-ios-arrow-back">设置</span></button>
        </div>
        <h1 class="title">行为规范</h1>
    </ion-header-bar>
    <ion-content class="agreement-content">
        <div class="row">
            <ul>
                <li>
                    <p class="agreementContext">
                        1.1、买卖双方必须秉持诚信交易原则，卖家不可故意夸大实物从而误导买家；买家不可刻意损坏物品从而获取退款或退货机会；一旦发生此类事件，利益受损双方可向萌宝铺子平台客服寻求协助，客服介入调查解决。
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        1.2、闲置交易本身是个体对闲置或闲置物品的出售，所以在购买前请双方就细节问题认真沟通，以免造成不必要的误会和麻烦，买家可以要求卖家多拍实物图。
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        1.3一旦卖家已发货，买家不可在未收货的时候随意取消订单或申请退款。必须在收到货物，确认货物有质量问题或与描述不符时方可申请退货退款。
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        1.4卖家若涉嫌虚假物品交易，骗取钱财、滥发信息，经买家投诉，客服审核通过后，将冻结卖家账号。
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        1.5买卖双方只可交易闲置物，不可进行商业代购或商业买卖，一旦收到投诉或经由客服发现，将冻结其账号。
                    </p>
                </li>
                <li>
                    <p  class="agreementTitle">
                        以下情况在萌宝铺子将严厉禁止：
                    </p>
                </li>
                <li>
                    <p class="agreementContext">
                        禁止发布侵犯他人知识产权的商品，如假冒，盗版等。
                    </p>
                    <p class="agreementContext">
                        禁止发布虚假、带有欺诈信息的商品。
                    </p>
                    <p class="agreementContext">
                        禁止发布带有明显广告性质的商品。
                    </p>
                    <p class="agreementContext">
                        同一商品禁止频繁重复发布。
                    </p>
                    <p class="agreementContext">
                        禁止夸大、不实的描述出售的商品信息。
                    </p>
                    <p class="agreementContext">
                        禁止进行骗取他人财务的欺诈行为。
                    </p>
                    <p class="agreementContext">
                        禁止频繁异常地发生交易纠纷导致他人损失。
                    </p>
                    <p class="agreementContext">
                        禁止发布国家法律不允许的违禁商品信息。
                    </p>
                    <p class="agreementContext">
                        禁止发布拉人炒信的兼职广告商品信息。
                    </p>
                    <p class="agreementContext">
                        禁止发布假货。
                    </p>
                    <p class="agreementContext">
                        禁止发布处方药类商品。
                    </p>
                    <p class="agreementContext">
                        禁止发布带有QQ/微信等站外联系方式的风险商品信息。
                    </p>
                    <p class="agreementContext">
                        禁止发布存在交易风险的虚拟商品信息。
                    </p>
                    <p class="agreementContext">
                        禁止发布泄漏他人隐私的内容。
                    </p>
                    <p class="agreementContext">
                        禁止以侮辱、诽谤等方式对他人进行人身攻击。
                    </p>
                    <p class="agreementContext" style="padding-bottom:50px;">
                        以上规则如有违反，平台有权利删除商品，部分情节严重的用户平台可进行发布限制或封号处理
                    </p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>