<ion-view class="personal-setup" >
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="backupDown('tabs.tabsMessage')"><span class="icon ion-ios-arrow-back">消息</span></button>
        </div>
        <h1 class="title">商品回复</h1>
    </ion-header-bar>
    <ion-content  >
        <ion-list ng-repeat="item in items track by $index">
            <a class="item message-order">
                <div class="row">
                    <div class="col-20 col-center">
                        <img ng-src="{{item.img}}" />
                    </div>
                    <div class="col-80">
                        <p class="orderTitle" ng-bind="item.title"></p>
                        <p class="orderTime" ng-bind="parseTime(item.createDate)"></p>
                        <p class="orderDirct" ng-bind="item.contents"></p>
                    </div>
                </div>
            </a>
        </ion-list>

        <ion-infinite-scroll
                on-infinite="loadMore()"
                ng-if="!noMoreLoad"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>