<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBack()"ng-if="type!=1"><span class="icon ion-ios-arrow-back"></span></button>
            <button class="button" ng-click="backupDown('refundsRelease.sell')"ng-if="type==1"><span class="icon ion-ios-arrow-back"></span></button>
            <button class="button" ng-click="backupDown('refundsRelease.bought')"ng-if="type==5"><span class="icon ion-ios-arrow-back"></span></button>
        </div>
        <h1 class="title" ng-if="type!=1">申请退款</h1>
        <h1 class="title" ng-if="type==1">查看退款详情</h1>
    </ion-header-bar>
    <ion-content >
        <div class="list">
            <label class="item item-input refundLabel">
                <span class="ion-asterisk asteriskSpan"></span>
                <span class="serviceFont">申请服务</span>
                <input type="text" ng-click="serviceShow()" readonly="readonly" class="serviceInput" ng-model="refunds.name" ng-if="type !=1">
                <span  ng-bind="refundServerValue" ng-if="type == 1"></span>
            </label>
            <label class="item item-input refundLabel">
                <span class="ion-asterisk asteriskSpan"></span>
                <span class="serviceFont">退款原因</span>
                <input type="text" ng-click="reasonShow()" readonly="readonly" class="serviceInput" ng-model="reasonRef.name" ng-if="type !=1">
                <span ng-bind="refundReasonValue" ng-if="type ==1"></span>
            </label>
            <label class="item item-input refundLabel">
                <span class="ion-asterisk asteriskSpan"></span>
                <span class="serviceFont">退款金额</span>
                <span ng-if="currentPrice!=null||price!=null">¥</span>
                <input type="text"  readonly="readonly" class="serviceInput" ng-model="currentPrice" ng-if="type!=1">
                <span ng-bind="priceValue" ng-if="type==1"></span>
            </label>
            <div class="refundsPrice" ng-if="type!=1">
                <span >(包含邮费</span><span ng-bind="refundsFreight"></span><span>元)</span>
            </div>
            <label class="item refundLabel">
                <div class="row">
                    <div class="col-30">
                        <span class="ion-asterisk asteriskSpan"></span>
                        <span class="serviceFont">退款说明</span>
                    </div>
                    <div class="col-75">
                        <textarea placeholder="退款说明" ng-model="reasonText.text" ng-if="type!=1"></textarea>
                        <textarea placeholder="退款说明" ng-model="refundMarkValue" ng-if="type==1" readonly="readonly"></textarea>
                    </div>
                </div>
            </label>
            <div class="padding-normal-horizontal" ng-if="type!=1">
                <button class="button button-block button-positive" ng-click="submitRefounds()" >提交</button>
            </div>

        </div>
    </ion-content>
    <div class="bar bar-footer refusedBtn" ng-if="type==1">
        <div class="col-50 ">
            <button class="button button-full button-stable refusedApply" ng-click="refusedApply()">拒绝</button>
        </div>
        <div class="col-50 ">
            <button class="button button-full button-assertive" ng-click="agreeApply()">同意</button>
        </div>
    </div>
</ion-view>