<!--订单详情-->
<ion-view class="evaluateDetail">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="goBackUp()"><span class="icon ion-ios-arrow-back"></span></button>
        </div>
        <h1 class="title">查看评价</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <div class="bg-color-white">
            <div class="row row-no-padding padding-big-vertical padding-normal-horizontal">
                <div class="col col-center col-10">
                    <div class="bgImg bgImg-1-1 border-radius-round" ng-style="setBackGroundImage(detailObject.evaluateUser.userImg?detailObject.evaluateUser.userImg+'@414w':defaultHead)"></div>
                </div>
                <div class="col col-center padding-normal-left">
                    <span ng-bind="detailObject.evaluateUser.nickName" class="nickName"></span>
                </div>
                <div class="col col-20 col-center text-right padding-normal-left">
                    <span ng-bind="parseTime(detailObject.evaluateDate)" class="time"></span>
                </div>
            </div>
            <div class="row row-no-padding padding-big-bottom padding-normal-horizontal">
                <div class="col">
                    <span ng-bind="detailObject.content" class="content"></span>
                </div>
            </div>
            <div class="padding-normal-bottom padding-normal-horizontal" ng-click="showProduct(detailObject.product.id)">
                <div class="row bg-color-main-gray">
                    <div class="col col-20 col-center">
                        <div class="bgImg bgImg-1-1" ng-style="setBackGroundImage((detailObject.product.productImageList[0].location)+'@414w')"></div>
                    </div>
                    <div class="col col-center padding-normal-left">
                        <span ng-bind="detailObject.product.title" class="productTitle"></span>
                    </div>
                </div>
            </div>
            <div class="sellerEvaluateToBuyer" ng-if="userInfo&&detailObject&&userInfo.id==detailObject.evaluateUser.id&&detailObject.childEvaluate&&showType==0">
                <div class="arrow"></div>
                <div class="bg-color-main-gray padding-normal-vertical padding-normal-horizontal color-dark font-size-small">
                    卖家回复:<span class="color-normal" ng-bind="detailObject.childEvaluate.content"></span>
                </div>
            </div>
            <div class="sellerEvaluateToBuyer border-top" ng-if="userInfo&&detailObject&&!detailObject.childEvaluate&&userInfo.id==detailObject.product.publicUser.id">
                <ion-item class="item-input item-judge">
                    <span class="input-label">描述相符</span>
                    <div class="judgeStars">
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.productMatche>=1]"></i>
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.productMatche>=2]"></i>
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.productMatche>=3]"></i>
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.productMatche>=4]"></i>
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.productMatche>=5]"></i>
                    </div>
                </ion-item>
                <ion-item class="item-input item-judge">
                    <span class="input-label">物流速度</span>
                    <div class="judgeStars">
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.expressSpeed>=1]"></i>
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.expressSpeed>=2]"></i>
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.expressSpeed>=3]"></i>
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.expressSpeed>=4]"></i>
                        <i class="icon ion-ios-star star" ng-class="{true:'checked',false:''}[detailObject.expressSpeed>=5]"></i>
                    </div>
                </ion-item>
            </div>
        </div>
        <div class="bg-color-white margin-normal-top" ng-if="userInfo&&detailObject&&!detailObject.childEvaluate&&userInfo.id==detailObject.product.publicUser.id">
            <div class="orderEvaluateContents">
                <div class="borderContents">
                    <textarea placeholder="评价买家限200字以内" ng-model="childEvaluateObject.content" maxlength="200"></textarea>
                </div>
            </div>
            <div class="text-right padding-normal-horizontal padding-big-bottom"><button class="submit" ng-click="submit()">回复</button></div>
        </div>
        <div class="bg-color-white margin-normal-top" ng-if="userInfo&&detailObject&&detailObject.childEvaluate&&(showType==1||(showType==0&&userInfo.id==detailObject.childEvaluate.evaluateUser.id))">
            <div class="padding-normal-horizontal padding-big-vertical font-size-big border-bottom">
                追评(1)
            </div>
            <div class="row row-no-padding padding-big-vertical padding-normal-horizontal">
                <div class="col col-center col-10">
                    <div class="bgImg bgImg-1-1 border-radius-round" ng-style="setBackGroundImage(detailObject.childEvaluate.evaluateUser.userImg?detailObject.childEvaluate.evaluateUser.userImg+'@414w':defaultHead)"></div>
                </div>
                <div class="col col-center padding-normal-left">
                    <span ng-bind="detailObject.childEvaluate.evaluateUser.nickName" class="nickName"></span>
                </div>
                <div class="col col-20 col-center text-right padding-normal-left">
                    <span ng-bind="parseTime(detailObject.childEvaluate.evaluateDate)" class="time"></span>
                </div>
            </div>
            <div class="row row-no-padding padding-big-bottom padding-normal-horizontal">
                <div class="col">
                    <span ng-bind="detailObject.childEvaluate.content" class="content"></span>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>