<ion-view class="personal-setup">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button" ng-click="backParent()"><span class="icon ion-ios-arrow-back"></span></button>
        </div>
        <h1 class="title">订单详情</h1>
    </ion-header-bar>
    <ion-content class="has-footer">
        <ion-list>
                <div class="row item">
                    <div class="col-20 ">
                        <div class="bgImg border-radius-round orderDetailUserImg" id="userHeaderImg" ng-style="resizeImage('userHeaderImg',(userHeaderImg?userHeaderImg+'@414w':defaultHead),'1:1')" ></div>
                    </div>
                    <div class="col-50 col-center">
                        <span ng-bind="nickName"></span>
                    </div>
                    <div class="col-40 col-center orderDetailTDiv">
                        <span class="orderDetailT mbpz mbpz-icon-replies orderDetailT-icon" ng-click="clickChat()">联系TA</span>
                    </div>
                </div>
                <ion-item>
                    <div class="row">
                        <div class="col col-20 col-center" ng-if="items.product.productImageList.length!=0" ng-repeat="productImage in checkProductImages(items.product.productImageList) track by $index">
                            <div class="bgImg bgImg-1-1" ng-style="setBackGroundImage(productImage.location+'@414w')" ></div>
                        </div>
                        <div class="col col-center">
                            <p class="orderDetailP" ng-bind="items.product.title"></p>
                            <p >
                                <span>¥&nbsp;</span>
                                <span ng-bind="items.price"></span>
                                <span>(包含快递费)</span>
                            </p>
                        </div>
                    </div>
                    <div class="row orderDetailConsignee">
                        <div class="col-20 col-center">
                            <span>收货人</span>
                        </div>
                        <div class="col col-center receiveSpan">
                            <span ng-bind="items.receiveName"></span>
                            <span ng-bind="items.receivePhone"></span>
                        </div>
                    </div>
                    <div class="row orderDetailConsignee">
                        <div class="col-20 col-center">
                            <span>收货地址</span>
                        </div>
                        <div class="col col-center receiveSpan">
                            <span  ng-bind="items.address"></span>
                        </div>
                    </div>
                    <div class="row orderDetailConsignee">
                        <div class="col-20 col-center">
                            <span>卖家昵称</span>
                        </div>
                        <div class="col col-center receiveSpan">
                            <span ng-bind="items.product.publicUser.nickName"></span>
                        </div>
                    </div>
                    <div class="row orderDetailConsignee">
                        <div class="col-20 col-center">
                            <span>订单编号</span>
                        </div>
                        <div class="col col-center receiveSpan">
                            <span ng-bind="items.orderCode"></span>
                        </div>
                    </div>
                    <div class="row orderDetailConsignee">
                        <div class="col-20 col-center">
                            <span>成交时间</span>
                        </div>
                        <div class="col col-center receiveSpan">
                            <span ng-bind="items.payDate"></span>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="processItem"  >
                    <ion-scroll id="processScrolls" class="processScroll" direction="x" >
                        <div class="processDiv" ng-repeat="processItem in items.process track by $index" ng-if="items.process.length>0">
                            <p class="processFont" ng-bind="processItem.statusName"></p>
                            <p>
                                <img ng-src="{{progresBar}}" width="100%" height="100%">
                            </p>
                            <p class="processTime" ng-bind="processItem.statusDate"></p>
                        </div>
                    </ion-scroll>
                </ion-item>
                <ion-item class="processItem" ng-if="items.logistics.length>0">
                    <div class="row" ng-repeat="processligs in items.logistics track by $index">
                        <!--<div class="col10 col-center">-->

                        <!--</div>-->
                        <div class="col col-center deliveryFont">
                            <div class="icon ion-record processlig"></div><p ng-bind="processligs.info" ></p>
                            <p ng-bind="processligs.date"></p>
                        </div>
                    </div>
                </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="orderBtn" ng-if="items.status!=null&&items.refundStatus==null">
        <div class="col-50 " ng-if="items.status=='NOT_PAID'&&isCurrentUser(userInfo.id,currentUserId)&&items.saleType!='sell'">
            <button class="button button-full button-stable refusedApply" ng-click="cancalOrder()">取消订单</button>
        </div>
        <div class="col-50 " ng-if="items.status=='NOT_PAID'&&isCurrentUser(userInfo.id,currentUserId)&&items.saleType!='sell'">
            <button class="button button-full button-assertive" ng-click="showPay(items,1)">立即支付</button>
        </div>

        <div class="col-50 " ng-if="items.saleType=='buy'&&items.status=='PAID'
        ||items.saleType=='buy'&&items.status=='RECEIVING'">
            <button class="button button-full button-stable refusedApply" ng-click="applyRefund(items.id,items.product.currentPrice,items.freight)">申请退款</button>
        </div>
        <div class="col-50 " ng-if="items.saleType=='buy'&&items.status=='PAID'">
            <button class="button button-full button-assertive" ng-click="remindDelivery(items.id)">提醒发货</button>
        </div>

        <div class="col-50 " ng-if="items.status=='RECEIVING'&&items.saleType=='buy'&&items.refundStatus!='APPLY'">
            <button class="button button-full button-assertive" ng-click="submitBuyer(items.id)">确认收货</button>
        </div>
        <div class="col" ng-if="items.saleType=='sell'&&items.status=='PAID'">
            <button class="button button-full button-assertive"   ng-click="submitSoldDelivery(items.id)">确认发货</button>
        </div>
        <div class="col" ng-if="items.saleType=='buy'&&items.status=='EVALUATING'">
            <button class="button button-full button-assertive"  ng-click="evaluation(items.id)">立即评价</button>
        </div>
        <div class="col" ng-if="items.status=='EVALUATED'">
            <button class="button button-full button-assertive" ng-click="evaluationShow(items.id)"  ng-click="evaluationShow(items.id)">查看评价</button>
        </div>
        <div class="col" ng-if="items.status =='RECEIVING'&&items.saleType=='sell'">
            <button class="button button-full button-assertive"  ng-click="remindDeliverySell(items.id)">提醒收货</button>
        </div>
    </ion-footer-bar>
    <ion-footer-bar class="orderBtn " ng-if="items.refundStatus!=null">
        <div class="col-50 " ng-if="(items.refundServer=='TKTH'||items.refundServer=='TK')&&items.refundStatus=='APPLY'&&items.saleType=='sell'">
            <button class="button button-full button-stable refusedApply" ng-click="refusedApply(items.id,0,items,4)" >拒绝</button>
        </div>
        <div class="col-50" ng-if="items.refundStatus=='REJECT'&&items.type=='2'">
            <button class="button button-full button-stable refusedApply" ng-click="refusedApply(items.id,1,items,2)" >拒绝原因</button>
        </div>
        <div class="col-50 " ng-if="(items.refundServer=='TKTH'||items.refundServer=='TK')&&items.refundStatus=='APPLY'&&items.saleType!='buy'">
            <button class="button button-full button-assertive" ng-click="agreeApplys(items.id)" >同意</button>
        </div>
        <div class="col-50" ng-if="items.refundStatus=='REJECT'&&items.type=='2'">
            <button class="button button-full button-assertive" ng-click="applyRefund(items.id,items.price,items.freight)" >重新申请退款</button>
        </div>
        <div class="col" ng-if="items.refundStatus=='REJECT'&&items.type=='4'">
            <button class="button button-full button-stable refusedApply" ng-click="refusedApply(items.id,1,items,4)" >拒绝原因</button>
        </div>
        <div class="col" ng-if="items.refundStatus=='SENDING'&&items.saleType=='buy'">
            <button class="button button-full button-assertive" ng-click="submitDelivery()" >退货</button>
        </div>
        <div class="col" ng-if="items.refundStatus=='SENDING'&&items.refundServer=='TKTH'&&items.saleType=='sell'">
            <button class="button button-full button-assertive" ng-click="remindDelivery()" >提醒退货</button>
        </div>
        <div class="col" ng-if="items.refundStatus =='WAIT_RECEIVE'&&items.saleType=='buy'" ng-click="remindDeliverySell(items.id)">
            <button class="button button-full button-assertive" >提醒收货</button>
        </div>
        <div class="col" ng-if="items.refundStatus=='WAIT_RECEIVE'&&items.saleType=='sell'">
            <button class="button button-full button-assertive" ng-click="submitGoods(items.id)" >确认收货</button>
        </div>
    </ion-footer-bar>
</ion-view>