@font-face {font-family: "mbpz";
    src: url('./fonts/iconfont.eot?t=1465197921'); /* IE9*/
    src: url('./fonts/iconfont.eot?t=1465197921#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/iconfont.woff?t=1465197921') format('woff'), /* chrome, firefox */
    url('./fonts/iconfont.ttf?t=1465197921') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./fonts/iconfont.svg?t=1465197921#mbpz') format('svg'); /* iOS 4.1- */
}

.mbpz {
    font-family:"mbpz" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
}
.mbpz-icon-message:before { content: "\e601"; }
.mbpz-icon-search:before { content: "\e605"; }
.mbpz-icon-money:before { content: "\e60b"; }
.mbpz-icon-jujia:before { content: "\e607"; }
.mbpz-icon-meifu:before { content: "\e608"; }
.mbpz-icon-home:before { content: "\e600"; }
.mbpz-icon-shop-bag:before { content: "\e602"; }
.mbpz-icon-report:before { content: "\e60f"; }
.mbpz-icon-muying:before { content: "\e609"; }
.mbpz-icon-arrow-down:before { content: "\e606"; }
.mbpz-icon-readers:before { content: "\e60c"; }
.mbpz-icon-replies:before { content: "\e60d"; }
.mbpz-icon-personal:before { content: "\e603"; }
.mbpz-icon-plus:before { content: "\e604"; }
.mbpz-icon-zan:before { content: "\e610"; }
.mbpz-icon-zansel:before { content: "\e611"; }
.mbpz-icon-guanfang:before { content: "\e60a"; }
.mbpz-icon-position:before { content: "\e60e"; }

/*百度地图*/
bd-map{
    display: none;
}

ion-content{
    background-color: #F5F5F5;
}

.cityModal ion-content{
    background-color: #FFFFFF;
}

/*Tabs*/
.mbpz-tabs .tabs{
    background-image: none;
}

.mbpz-tabs .tabs + ion-nav-view{
    padding-bottom: 50px;
}

.mbpz-tabs .tabs .icon{
    height: 28px;
    font-size: 24px;
}

.mbpz-tabs .tab-item.tab-item-center{
    position: relative;
    overflow: visible;
}

.mbpz-tabs .tab-item.tab-item-center .icon{
    width: 100%;
    position: relative;
}

.mbpz-tabs .tab-item.tab-item-center .icon:before{
    position: absolute;
    z-index: 999;
    display: block;
    font-size: 36px;
    top: calc(50% - 30px);
    top: -webkit-calc(50% - 30px);
    left: calc(50% - 20px);
    left: -webkit-calc(50% - 20px);
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding-left: 1px;
}

.mbpz-tabs .tabs{
    background-color: #FFFFFF;
}

.mbpz-tabs .tab-item{
    opacity: 1;
    color: #666666;
}

.mbpz-tabs .tab-item.tab-item-active,
.mbpz-tabs .tab-item.tab-item-center
{
    color: #FF4E72;
}

/*页面头部*/
.tabsHome ion-header-bar,
.productListByType ion-header-bar,
.searchHome ion-header-bar{
    background-color: #FF4E72;
    color: #FFFFFF;
    background-image:none;
}

.tabsShop ion-header-bar,
.productDetail ion-header-bar,
.report ion-header-bar,
.orderPreview ion-header-bar,
.orderAddress ion-header-bar,
.editAddress ion-header-bar,
.payModal ion-header-bar,
.publish ion-header-bar,
.cityModal ion-header-bar{
    background-color: #F5F5F5;
    background-image:none;
    color: #333333;
}

.report ion-header-bar,
.orderPreview ion-header-bar,
.editAddress ion-header-bar,
.payModal ion-header-bar,
.publish ion-header-bar,
.orderAddress ion-header-bar{
    border-bottom: 1px solid #DDDDDD;
}

.tabsHome ion-header-bar .title,
.productListByType ion-header-bar .title{
    color: #FFFFFF;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
}

.productListByType ion-header-bar .title{
    font-style: normal;
}

.tabsShop ion-header-bar .title,
.report ion-header-bar .title,
.orderPreview ion-header-bar .title,
.orderAddress ion-header-bar .title,
.editAddress ion-header-bar .title,
.payModal ion-header-bar .title,
.publish ion-header-bar .title,
.productDetail ion-header-bar .title{
    color: #333333;
    font-weight: 700;
    font-size: 18px;
}

.tabsHome ion-header-bar .button,
.tabsHome ion-header-bar .button.activated,
.productListByType ion-header-bar .button,
.productListByType ion-header-bar .button.activated,
.searchHome ion-header-bar .button,
.searchHome ion-header-bar .button.activated{
    background: #FF4E72;
    color: #FFFFFF;
    border:none;
    font-size: 14px!important;
}


.cityModal ion-header-bar .button,
.cityModal ion-header-bar .button.activated,
.report ion-header-bar .button,
.report ion-header-bar .button.activated,
.orderPreview ion-header-bar .button,
.orderPreview ion-header-bar .button.activated,
.editAddress ion-header-bar .button,
.editAddress ion-header-bar .button.activated,
.payModal ion-header-bar .button,
.payModal ion-header-bar .button.activated,
.publish ion-header-bar .button,
.publish ion-header-bar .button.activated,
.orderAddress ion-header-bar .button,
.orderAddress ion-header-bar .button.activated{
    background: #F5F5F5;
    color: #333333;
    border:none;
}

.tabsHome ion-header-bar .button .mbpz,
.productListByType ion-header-bar .button .icon{
    font-size: 24px!important;
    padding-top: 3px;
}

.cityModal ion-header-bar .cityInput,
.searchHome ion-header-bar .cityInput{
    width: 95%;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid #DDDDDD;
    position: relative;
}

.searchHome ion-header-bar .cityInput>.clear{
    position: absolute;
    z-index:999;
    top: calc(50% - 10px);
    top: -webkit-calc(50% - 10px);
    right: 5px;
    color: #FF4E72;
    font-size: 18px;
}

.searchHome ion-header-bar .cityInput>.search{
    position: absolute;
    z-index:999;
    top: calc(50% - 12px);
    top: -webkit-calc(50% - 12px);
    left: 5px;
    color: #FF4E72;
    font-size: 24px;
    border-radius: 50%;
}

.cityModal ion-header-bar .cityInput>input,
.searchHome ion-header-bar .cityInput>input{
    width: 100%;
    padding: 5px 10px;
    height: 30px;
}

.searchHome ion-header-bar .cityInput>input{
    padding-right: 30px;
    padding-left: 35px;
}

.searchHome .searchContentList{
    position: absolute;
    background: #FFFFFF;
    z-index:10;
    bottom: 0;
    top: 44px;
    width: 100%;
}

.searchHome .searchContentList>ion-scroll{
    width: 100%;
    height: 100%;
}

/**页面body部分*/
/**首页*/
.header-zs{
    height: 12px;
    -webkit-background-size: 16px 12px;
    background-size: 16px 12px;
    background-repeat: repeat-x;
    position: fixed;
    z-index:999;
    width: 100%;
    top: 44px;
}

.homeType{
    width: 100%;
    display: box;
    display: -webkit-box;
    padding: 10px 0px;
    border-bottom: 1px solid #DDDDDD;
}

.homeTypeItem{
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: center;
    color: #666666;
}

.homeTypeItem>span{
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.homeTypeItem>span>.mbpz{
    font-size: 32px!important;
    color: #FFFFFF;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
}

.homeQGItem{
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 25px;
}

.homeQGItem>span:first-child{
    color: #FF4E72;
    border-radius: 7px;
    border: 1px solid #FF4E72;
    padding: 2px 5px;
}

.homeQGItem + .homeQGItem{
    margin-top: 10px;
}

.home-zx{
    height: 48px;
    padding: 0px 20px;
    position: relative;
}

.home-zx .line{
    position: relative;
    height: 2px;
    background-color: #CCCCCC;
    width: 100%;
    z-index:1;
    top: 50%;
}

.home-zx .title {
    position: absolute;
    z-index: 2;
    background-color: #F5F5F5;
    color: #FF4E72;
    left: calc(50% - 45px);
    left: -webkit-calc(50% - 45px);
    top: calc(20% + 5px);
    top: -webkit-calc(20% + 5px);
    padding: 0px 20px;
}

.tabsInfinite>ion-spinner{
    display: block!important;
}

/*城市选择*/
.cityModal .cityItem{
    color: #999999;
    font-size: 14px;
    padding: 10px 15px;
}

.cityModal .cityItem>ion-spinner{
    stroke: #FF4E72;
}

.cityModal .cityItem>ion-spinner>svg{
    width: 28px;
    height: 19px;
}

.cityModal .cityItem>ion-spinner+span{
    position: relative;
    top: -4px;
}

.cityModal .cityItem.activated{
    background-color: #F5F5F5;
}

.cityModal .cityItem.cityTarget{
    padding: 5px 10px;
    background-color: #DFDFDF;
}

.cityModal .cityItem .city{
    color: #333333;
    padding-right: 10px;
}

.cityModal .cityDivide + .cityDivide{
    border-top: 1px solid #DDDDDD;
}

.cityModal .list>ion-list + ion-list>.list{
    border-top: 1px solid #DDDDDD;
}

/*登录模块loginModal*/
.loginModal .closeLogin{
    font-size: 18px;
    padding: 10px;
    display: block;
}

.loginModal .loginGroup{
    position: absolute;
    width: 100%;
    padding: 0px 10px;
    height: 70%;
    top: calc(50% - 35%);
    top: -webkit-calc(50% - 35%);
}

.loginModal .inputGroup{
    width: 100%;
    position: relative;
}

.loginModal .inputGroup>.tel::-webkit-input-placeholder,
.loginModal .inputGroup>.code::-webkit-input-placeholder{
    color: #666666;
}

.loginModal .inputGroup>.tel,
.loginModal .inputGroup>.code{
    width: 100%;
    background-color: transparent;
    color: #666666;
    height: 20px;
}

.loginModal .inputGroup>.tel + .clearTel{
    position: absolute;
    z-index: 10;
    color: #FF4E72;
    top: 0px;
    right: 0px;
    font-size: 18px;
}

.loginModal .inputGroup>.clearCode{
    position: absolute;
    z-index: 10;
    color: #FF4E72;
    font-size: 18px;
    top: 0px;
    right: 100px;
    margin-right: 10px;
}

.loginModal .inputGroup>.getCode{
    position: absolute;
    z-index: 10;
    color: #FF4E72;
    border:none;
    background-color: transparent;
    top: 0px;
    right: 0px;
    border-left: 1px solid #FF4E72;
    padding-left: 10px;
    width: 100px;
}

/*支付方式*/
.payModal ion-content{
    background-color: #FFFFFF;
}

.payModal ion-footer-bar{
    background-image: none;
    border-top: 1px solid #DDDDDD;
    padding: 0px;
}

.payModal ion-footer-bar .title{
    right: 88px!important;
    color: #666666;
    font-size: 14px;
}

.payModal ion-footer-bar .title>.price{
    font-size: 16px;
    color: #FF4E72;
}

.payModal ion-footer-bar .title>.price.mbpz{
    font-size: 20px;
}

.payModal ion-footer-bar .buttons{
    top: 0px!important;
    right: 0px!important;
    bottom: 0px!important;
}

.payModal ion-footer-bar .button{
    background-color: #FF4E72;
    border-radius: 0px;
    color: #FFFFFF;
    padding:0px 20px;
    font-size: 16px;
    border:none;
}

.payModal ion-footer-bar .button.activated{
    background-color: rgba(255,78,114,.7);
}

/*卡片组合*/
.card-group{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.card-per{
    display: inline-block;
    border: none;
}

.card-item-normal{
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
}

.card-item-normal + .card-item-normal{
    border-top: 1px solid #DDDDDD;
}

.tabsShop .card-item-normal + .card-item-normal{
    border-top: none;
    margin-top: 10px;
}

.card-item-normal .userNick{
    font-size: 14px;
    color: #333333;
}

.card-item-normal .publicTime{
    font-size: 12px;
    color: #999999;
}

.card-item-normal .row + .row{
    padding-top: 5px;
}

.card-item-normal .productContent{
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #666666;
    padding: 0px 5px;
    line-height: 20px;
    max-height: 40px;
}

.tabsShop .card-item-normal .productTitle{
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabsShop .card-item-normal .productContent{
    color: #999999;
    padding-bottom: 10px;
    max-height: 44px;
    border-bottom: 1px solid #DDDDDD;
}

.card-item-normal span.mbpz{
    font-size: 16px!important;
}

.card-item-normal span.price{
    color: #FF4E72;
}

.card-item-normal span{
    font-size: 16px;
    padding-right: 5px;
}

.card-item-normal span.originalPrice{
    font-size: 14px;
    text-decoration: line-through;
}

.card-item-normal span.address{
    color: #57B6E2;
    font-size: 12px;
}

.card-item-normal span.counts{
    color: #666666;
    font-size: 12px;
}

.card-item-per{
    float: left;
    width: 50%;
    margin-top: 10px;
    position: relative;
}

.card-item-per>div{
    width: 100%;
    background-color: #FFFFFF;
}

.card-item-per .title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    color: #333333;
    font-size: 14px;
}

.card-item-per .price{
    color: #FF4E72;
    font-size: 16px;
    font-weight: 700;
}

.card-item-per .originalPrice{
    color: #999999;
    text-decoration: line-through;
    font-weight: 700;
    font-size: 14px;
}

.card-item-per .address{
    color: #999999;
    font-size: 12px;
}

.card-item-per .publicTime{
    color: #999999;
    font-size: 12px;
}

/*偶数*/
.card-item-per:nth-child(even){
    padding-left: 5px;
    padding-right: 10px;
}

/*奇数*/
.card-item-per:nth-child(odd){
    padding-left: 10px;
    padding-right: 5px;
}

/**productListByType*/
.productListByType ion-content.leave-top{
    top: 85px;
}

.productListByType .filterGroup{
    background: #FFFFFF;
    position: relative;
    top: 44px;
    z-index: 999;
    display: box;
    display: -webkit-box;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 0px;
}

.productListByType .filterItem{
    box-flex : 1;
    -webkit-box-flex: 1;
    text-align: center;
    font-size: 12px;
}

.productListByType .filterItem + .filterItem{
    border-left: 1px solid #DDDDDD;
}

.productListByType .filterItem>.mbpz{
    color: #999999;
}

.filterPopover{
    width: 100%;
    left: 0px!important;
    border-radius: 0px!important;
}

.chooseSearchType{
    top: 32px!important;
    border-radius: 0px!important;
    height: 130px;
    width: 83px;
}

.chooseSearchType ion-content{
    margin: 0px;
    border-radius: 0px!important;
}

.chooseSearchType .list>.item,
.chooseSearchType .list>.item.activated{
    border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.filterPopover ion-content,
.chooseSearchType ion-content{
    background-color: #FFFFFF;
}

.filterPopover .popover-arrow,
.chooseSearchType .popover-arrow{
    display: none;
}

.filterPopover .list>.item,
.chooseSearchType .list>.item{
    border-left: none;
    border-right: none;
}

.filterPopover .list>.item .item-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.filterPopover .priceTitle{
    color: #666666;
    font-size: 12px;
}

.filterPopover .priceInput{
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
}

.filterPopover .priceInput>input{
    width: 100%;
    height: auto;
    font-size: 14px;
    padding: 5px;
    background-color: #F5F5F5;
    color: #666666;
}

.filterPopover .priceButton{
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #F5F5F5;
    color: #666666;
}

.filterPopover .priceButton[disabled]{
    color: #999999;
}

.filterPopover .priceButton + .priceButton{
    margin-left: 10px;
}
.productReport{
    width: 110px;
    height: 50px;
}

.productReport ion-content{
    background-color: #FFFFFF;
    border-radius: 4px!important;
}

.productReport .reportButton{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: #FFFFFF;
    color: #333333;
}

.productReport .reportButton>.mbpz{
    font-size: 20px;
    color: #FF4E72;
    padding-right: 10px;
}

/**productDetail页面样式*/
.productDetail ion-content>.scroll{
    padding-bottom: 10px;
}

.productDetail ion-header-bar + ion-content{
    margin-top: 41px;
}

.productDetail .header{
    position: absolute;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    z-index: 999;
}

.productDetail .header>span{
    display: block;
    float: left;
    color: #FFFFFF;
    background: #FF4E72;
    opacity:.7;
    text-align: center;
    font-size: 24px;
    padding: 4px 12px;
    border-radius: 50%;
}

.productDetail .header>span:last-child{
    float: right;
    padding: 4px 7px;
}

.productDetailBody{
    padding: 10px;
    background: #FFFFFF;
}
.productDetailBody .title{
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.productDetailBody .counts{
    font-size: 12px;
    line-height: 20px;
    color: #666666;
}

.productDetailBody span.recommoned,
.replyBody span.recommoned{
    color: #FFFFFF;
    background: #FF4E72;
    border-radius: 7px;
    padding: 2px 5px;
}

.productDetailBody span.price{
    font-size: 16px;
    color: #FF4E72;
    font-weight: 700;
}

.productDetailBody span.originalPrice{
    font-size: 14px;
    color: #999999;
    text-decoration: line-through;
}

.productDetailBody span.freight{
    font-size: 12px;
    color: #999999;
}

.productDetailBody span.content{
    font-size: 14px;
    color: #333333;
}

.productDetailBody span.publicTime{
    font-size: 12px;
    color: #999999;
}

.productDetailBody span.address.mbpz{
    font-size: 16px;
}

.productDetailBody span.address{
    color: #57B6E2;
    font-size: 12px;
}

.productDetailBody span.userNick{
    display: block;
    color: #333333;
    font-size: 14px;
    padding: 10px 5px;
    border-right: 1px solid #DDDDDD;
}

.productDetailBody .contact{
    display: block;
    color: #333333;
    font-size: 14px;
}

.productDetailBody .contact>span.mbpz{
    font-size: 20px;
    padding-right: 5px;
}

.replyBody .list{
    margin-top: 10px;
}

.replyBody .userNick,
.replyBody .content{
    color: #333333;
    font-size: 14px;
    white-space:normal;
}

.replyBody .publicTime{
    color: #999999;
    font-size: 12px;
}

.replyBody .replyRecommoned + .replyNormal{
    margin-top: 10px;
}

.productDetail ion-content{
    margin-bottom: 48px;
}

.userCtrl{
    background: #FFFFFF;
    position: fixed;
    z-index: 999;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: box;
    display: -webkit-box;
    padding-top: 0px;
}
.userCtrl>div{
    box-flex:1;
    -webkit-box-flex: 1;
    line-height: 48px;
    font-size: 14px;
    text-align: left;
    padding: 0px 10px;
}
.userCtrl>div>.mbpz,
.userCtrl>div>.icon{
    font-size: 16px;
}

.userCtrl>div.judge.star{
    color: #666666;
}
.userCtrl>div.judge.zan{
    color: #666666;
}

.userCtrl>button.submit{
    box-flex:1.5;
    -webkit-box-flex: 1.5;
    background: #FF4E72;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    display: block;
    border:none;
}

.userCtrl>button.submit.activated{
    background-color: rgba(255,78,114,.7);
}

.userCtrl>button.submit[disabled]{
    background-color: #F5F5F5;
    color: #999999;
}

/*举报*/
.report ion-content .title{
    color: #999999;
    padding: 20px 10px 10px;
}

.report .reportBody{
    background-color: #FFFFFF;
    padding: 0px;
}

.report .item-radio .item-content{
    padding: 10px 16px 10px 49px;
    font-size: 14px;
    color: #666666;
}

.report .item-radio .radio-icon{
    right: inherit;
    left:0;
    visibility: visible;
    padding: 6px;
    color: #999999;
    font-size: 20px;
    font-weight: bold;
}
.report .item-radio input:checked+.radio-content .item-content{
    background-color: transparent;
}

.report .item-radio input:checked+.radio-content .radio-icon{
    color: #333333;
}

.report .item-radio{
    border: none;
}

.report .item-radio.radioBorder{
    border-top: 30px solid #F5F5F5;
}
.report .reasonBody{
    width: 100%;
    height: 200px;
    padding: 10px;
}

.report .reasonBody>textarea{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    text-indent: 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.report .reasonBody>textarea[disabled]{
    background-color: #F5F5F5;
}

.report .submit{
    border: none;
    background-color: #FF4E72;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 20px;
}

.report .submit.activated{
    background-color: rgba(255,78,114,.7);
}

/**轮播*/
.headSliders .slider-pager-page{
    opacity: .7!important;
    color: #FFFFFF;
}

.headSliders .slider-pager-page.active{
    opacity: .7!important;
    color: #FF4E72;
}

/*图片作为背景*/
.bgImg{
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    -webkit-background-size: cover;
}

.bg-color-yellow{
    background-color: #FDDA5E;
}

.bg-color-main-green{
    background-color: #FFAF60;
}

.bg-color-main-red{
    background-color: #FF6982;
}

.bg-color-main-brown{
    background-color: #FE6F5C;
}

.bg-color-white{
    background-color: #FFFFFF;
}

.ba-color-white-less{
    background-color: rgba(255,255,255,.5);
}

.color-red{
    color: #FF4E72;
}

.color-white{
    color: #FFFFFF;
}

.img-auto{
    display: block;
    width: 100%;
    height: auto;
}

/**边距*/
.margin-normal-bottom,
.margin-normal-vertical{
    margin-bottom: 10px!important;
}

.margin-normal-top,
.margin-normal-vertical{
    margin-top: 10px!important;
}

.margin-small-right,
.margin-small-horizontal{
    margin-bottom: 5px!important;
}

.padding-normal-left,
.padding-normal-horizontal{
    padding-left: 10px!important;
}

.padding-normal-right,
.padding-normal-horizontal{
    padding-right: 10px!important;
}

.padding-normal-top,
.padding-normal-vertical{
    padding-top: 10px!important;
}

.padding-normal-bottom,
.padding-normal-vertical{
    padding-bottom: 10px!important;
}

.padding-small-top,
.padding-small-vertical{
    padding-top: 5px!important;
}

.padding-small-bottom,
.padding-small-vertical{
    padding-bottom: 5px!important;
}

.padding-small-left,
.padding-small-horizontal{
    padding-left: 5px!important;
}

.padding-small-right,
.padding-small-horizontal{
    padding-right: 5px!important;
}


.padding-big-top,
.padding-big-vertical{
    padding-top: 15px!important;
}

.padding-big-bottom,
.padding-big-vertical{
    padding-bottom: 15px!important;
}

.padding-smaller-left,
.padding-smaller-horizontal{
    padding-left: 2px!important;
}

.padding-smaller-right,
.padding-smaller-horizontal{
    padding-right: 2px!important;
}

.padding-none-left,
.padding-none-horizontal{
    padding-left: 0px;
}

.padding-none-right,
.padding-none-horizontal{
    padding-right: 0px;
}

.padding-none-top,
.padding-none-vertical{
    padding-top: 0px;
}

.padding-none-bottom,
.padding-none-vertical{
    padding-bottom: 0px;
}



/*border*/
.border-right{
    border-right: 1px solid #DDDDDD;
}

.border-bottom{
    border-bottom: 1px solid #DDDDDD;
}

.border-radius-round{
    border-radius: 50%;
}

.border-radius-normal{
    border-radius: 7px;
}

/**其他基础样式*/
.overflow-hidden{
    overflow: hidden;
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notFoundList{
    position: relative;
    width: 100%;
    text-align: center;
    color: #666666;
    font-size: 16px;
    top: calc(50% - 10px);
    top: -webkit-calc(50% - 10px);
    z-index:10;
}

.item-divider{
    min-height: 10px;
}

.personal-setup ion-header-bar{
    background-color: #FF4E72;
}
.personal-setup .button{
    background-color: #FF4E72;
}

.personal-setup .button:hover{
    background-color: #FF4E72;
    border:0;
}

.personal-setup .ion-ios-arrow-back,.title{
    color:white;
}

.feedback-content,.help-content,.agreement-content,.wallet-content{
    background: white;
}
.feedback-input{
    padding:10px;
    height: 120px;
    border:1px solid #CCCCCC;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
.help-content li{
    list-style-type: none;
}
.help-content ul{
    padding: 0px;
}
.help-content div,.agreement-content div{
    padding:5px;
}
.help-content .question{
    font-size:14px;color:red;margin-bottom:6px;
}
.help-content .answer{
    font-size:14px;margin-top:0px;
}

.agreementContext{
    font-size:16px;text-align: left;
}
.agreementTitle{
    font-size:18px;font-weight: bold;text-align: left;
}
.agreementSub{
    font-size:18px;font-weight: bold;text-align: center;
}
.agreementDescribe{
    font-size:16px;margin: 0px;text-align: left;font-weight: bold;
}

.walletDiv{
    background: #FF4E72;
    border:0px;
}
.ion-ios-arrow-forward:before{
    color:#9e9e9e;
    font-size: 16px;
}
.ion-ios-gear-outline:before{
    font-size:20px;
    padding-top:8px;
}

.personal-user-image{
    padding-left:0px;
    padding-top:0px;
    padding-bottom:0px;
}
.personal-user-image div{
    margin-top:5px;
    width:60px;
    height: 60px;
    float:left;
}
.personal-name{
    padding-top:13px;
    display: block;
}
.walletDiv p{
    text-align:center;
    font-size: 16px;
    color:white;
}
.wallet-content{
    padding:0px;
    margin:0px;
}
.walletDiv:first-child{
    padding-top:20px;
}

.walletDiv:last-child{
    padding-bottom:20px;
}

.withdrawalSty{
    text-align: center;
    border:0;
    padding-top:40px;
    font-size:14px;
    color:blue;
}
.address-button{
    margin-left:35%;
    height: auto;
}
.address-font{
    font-size:16px;
    padding-right:10px;
}
.personal-refund .tabs.tabs-top{
    top:0px;
}
.personal-refund .tabs-striped.tabs-color-light .tab-item{
    color:#9e9e9e;
}
.personal-refund .tabs{
    border:0px;
}
.personal-refund a{
    display: block;
}
.personal-refund a:hover,.personal-refund a:focus,.personal-refund .active,.personal-refund a{
    color:#FF4E72;
}

.message-list .item-thumbnail-left
{
    min-height:50px;
    padding-left:60px;
!important;
}
.message-list .item-thumbnail-left>img{
    max-width: 40px;
    max-height: 40px;
!important;
}

.message-title{
    font-size:16px;
    color:black;
    font-weight: bold;
}
.message-p{
    font-size: 14px;
    color:#CCCCCC;
}

.wsdk-emot{
    width:10%;
    height:10%;
}

.message-list{
    margin-bottom:10px;
!important;
}

/*订单预览*/
.orderPreview ion-content .title{
    color: #333333;
}

.orderPreview ion-content .price{
    padding-top: 10px;
}

.orderPreview ion-content .price>.mbpz{
    font-size: 16px;
}

.orderPreview ion-content .price>.currentPrice{
    color: #FF4E72;
    font-weight: bold;
}

.orderPreview ion-content .price>.originalPrice{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: line-through;
}

.orderPreview ion-content .addressGroup{
    padding-top: 5px;
}

.orderPreview ion-content .addressGroup>.address{
    color: #999999;
    font-size: 12px;
    padding-right: 5px;
}

.orderPreview ion-content .addressGroup>.online{
    color: #999999;
    font-size: 12px;
    border-left: 1px solid #DDDDDD;
    padding-left: 7px;
}

.orderPreview ion-footer-bar .submit,
.editAddress ion-footer-bar .submit,
.orderAddress ion-footer-bar .submit{
    background-color: #FF4E72;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

.orderPreview ion-footer-bar .submit.activated{
    background-color: rgba(255,78,114,.7);
}

.orderPreview ion-list>.list{
    margin-top: 10px;
}

.orderPreview ion-list>.list>ion-item{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #999999;
}

.orderPreview ion-list>.list>ion-item .icon{
    font-size: 20px!important;
    color: #999999;
}

.orderPreview ion-list>.list>ion-item .address{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 40px;
    color: #999999;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0px;
}

.orderPreview ion-list>.list>ion-item .address>div{
    white-space: normal;
}

.orderPreview ion-list>.list>ion-item .freight{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 20px;
    color: #999999;
    font-size: 16px;
    padding-top: 10px;
}

.orderPreview ion-list>.list>ion-item .price{
    color: #FF4E72;
    font-size: 16px;
    font-weight: bold;
}

.orderPreview ion-list>.list>ion-item .price.mbpz{
    font-size: 18px;
}

/*地址管理*/
.orderAddress .isDefault{
    font-size: 24px;
    color:  rgba(255,78,114,.7);
}

.orderAddress .userTitle{
    font-size: 14px;
    color: #333333;
}


.orderAddress .userAddress{
    font-size: 14px;
    color: #666666;
}

.editAddress ion-content ion-list ion-item .address{
    font-size: 12px;
    display: block;
    width: 50%;
    white-space: normal;
}


/*provinceCityModal*/
.provinceCityModal{
    background-color: rgba(0,0,0,.3);
}
.provinceCityModal ion-content{
    top: 50%;
    background-color: #F5F5F5;
    padding-top: 45px;
}

.provinceCityModal ion-content ion-header-bar{
    background-image: none;
    border-bottom: 1px solid #dddddd;
}

.provinceCityModal ion-content ion-header-bar .title{
    color: #333333;
    font-size: 12px!important;
}

.provinceCityModal ion-content ion-header-bar .button,
.provinceCityModal ion-content ion-header-bar .button.activated{
    background-color: #FFFFFF;
    color: #007AFF;
    border: none;
}

.provinceCityModal .provinceCityGroup{
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: box;
    display: -webkit-box;
}
.provinceCityModal .provinceCityGroup .provinceCityItem{
    -webkit-box-flex: 1;
    box-flex: 1;
    height: 100%;
}

.provinceCityModal .provinceCityGroup ion-scroll{
    height: 100%;
    padding-top: calc(50% - 90px);
    padding-bottom: calc(50% - 90px);
}

.provinceCityModal .provinceCityGroup ion-scroll .scroll-bar{
    display: none;
}

.provinceCityModal .provinceCityGroup .list{
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

.provinceCityModal .provinceCityGroup .list>.item-radio{
    border:none;
    background-color: transparent;
}

.provinceCityModal .provinceCityGroup .list>.item-radio .item-content{
    padding: 10px 0px;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
}

.provinceCityModal .provinceCityGroup .list>.item-radio input:checked+.radio-content .item-content{
    background-color: rgba(0,122,255,.7);
    color: #FFFFFF;
}
.provinceCityModal .provinceCityGroup .list>.item-radio .radio-icon{
    display: none;
}
.message-chat{
    width:100%;
    height: 100%;
}

/*发布*/
.publishModal{
    background-color: transparent;
}
.publishModal ion-content{
    background-color: rgba(0,0,0,.7);
}

.publishModal .chooseGroup{
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    bottom: 92px;
}

.publishModal .chooseGroup>img{
    display: block;
}

.publishModal .chooseGroup.sale{
    left: calc(50% - 108px);
    left: -webkit-calc(50% - 108px);
}

.publishModal .chooseGroup.want{
    right: calc(50% - 108px);
    right: -webkit-calc(50% - 108px);
}

.publishModal .chooseGroup.cancel>img{
    width: 54px;
}

.publishModal .chooseGroup.cancel{
    bottom: 20px;
    left: calc(50% - 27px);
    left: -webkit-calc(50% - 27px);
}

.publish ion-footer-bar{
    background-color: #FFFFFF;
    background-image: none;
    border-top: 1px solid #DDDDDD;
}

.publish ion-footer-bar .submit{
    background-color: #FF4E72;
    color: #FFFFFF;
    border:none;
}

.publish ion-footer-bar .submit.activated{
    background-color: rgba(255,78,114,.7);
}

.publish ion-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.publish ion-item.title>input{
    width: 100%;
}

.publish ion-item.content{
    padding-top: 15px;
    padding-bottom: 15px;
}

.publish ion-item>textarea{
    width: 100%;
    resize: none;
    height: 100px;
}

.publish ion-item.publishImage{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 109px;
    margin-left: 0px;
    margin-right: 0px;
}
.publish ion-item.address{
    color: #57B6E2;
    font-size: 14px;
}

.publish ion-item.address>.mbpz{
    font-size: 16px;
}


.publish ion-item.publishImage>ion-scroll{
    width: 100%;
    height: 100%;
}

.publish ion-item.publishImage>ion-scroll>.scroll{
    position: relative;
    width: 294px;
    /*此处的width需要动态改变*/
}

.publish ion-item.publishImage>ion-scroll>.scroll-bar{
    display: none;
}

.publish ion-item.publishImage .photoGroup{
    display: block;
    float: left;
    width: 88px;
    height: 88px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    -webkit-background-size: cover;
    background-image: url('../assets/ic_add_photo.png');
    -webkit-background-image: url('../assets/ic_add_photo.png');
    position: relative;
}

.publish ion-item.publishImage .photoGroup>.cancel{
    color: #FF4E72;
    display: block;
    position: absolute;
    z-index:2;
    top: 0px;
    right: 2px;
    font-size: 20px;
}

.publish ion-item.publishImage .photoGroup>ion-spinner{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    z-index: 3;
    stroke: #FFFFFF;
}

.publish ion-item.publishImage .photoGroup>ion-spinner>svg{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 22px;
    left: 22px;
    color: #FFFFFF;
}

.publish ion-item.publishImage .photoGroup>.failed{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: #FFFFFF;
    z-index: 3;
    font-size: 12px;
    text-align: center;
    padding-top: calc(50% - 12px);
    padding-top: -webkit-calc(50% - 12px);
}

.publish ion-item.publishImage .photoGroup>img{
    display: block;
    width: 100%;
    height: 100%;
}
.publish ion-item.publishType{
    margin-bottom: 100px;
    margin-top: 10px;
}

.publish ion-item.publishType>.input-label{
    font-weight: bold;
    width: 20%;
}

.publish ion-item.publishType>span.icon{
    font-size: 24px;
    color: #999999;
}

.publish ion-item.publishType>select{
    border: none;
    -webkit-appearance: list;
    -moz-appearance: none;
    appearance: none;
    margin-right: 10px;
}

.publish ion-item.publishType>select>option{
    border:none;
}

.publish .priceGroup>.list{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.publish .priceGroup>.list>.price{
    display: block;
    width: 50%;
    float: left;
    position: relative;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
}

.publish .priceGroup>.list>.price>.priceTitle{
    display: block;
    position: absolute;
    font-size: 14px;
    color: #333333;
    left: 16px;
    top: 13px;
    font-weight: bold;
}

.publish .priceGroup>.list>.price>.priceTitle>span{
    font-size: 14px;
    color: #999999;
    padding-left: 10px;
}

.publish .priceGroup>.list>.price>.priceUnit{
    display: block;
    position: absolute;
    font-size: 14px;
    color: #333333;
    right: 16px;
    top: 13px;
}

.publish .priceGroup>.list>.price>.priceInput{
    display: block;
    width: 100%;
    padding-left: 55px;
    padding-right: 20px;
}

.publish .priceGroup>.list>.price>.priceInput>input{
    display: block;
    width: 100%;
}

.publish .priceGroup>.list>.price.freight{
    width: 100%;
    clear: both;
}

/*聊天*/
.wkit-title {
    padding-top:10px;
    background:#FF4E72 !important;
}

.wkit-title .wkit-back-trigger{
    padding:0px !important;
    padding-top:6px !important;
    width:10px !important;
    height:20px !important;
}

.wkit-emot-trigger,.wkit-img-trigger{
    width:16px !important;
}
#J_wkitEmotTrigger{
    display:none;
}

.system-img{
    width:20px;
    height:20px;
}
.system-item{
    padding:5px;
    margin-bottom:4px;
}

.system-content{
    padding:5px;
    border:0;
    text-indent: 2em ;
    font-size:14px;
    color:#b2b2b2;
}

.system-time{
    font-size:10px;
    color:#b2b2b2;
}

.message-order{
    padding:0px;
    margin-bottom:5px;
}
.message-order img{
    width:40px;
    height:40px;
}
.orderTitle{
    float:left;
    color:black;
}

.orderTime{
    text-align:right;
}
.orderDirct,.orderTime{
    color:#b2b2b2 !important;
    font-size:10px !important;
    padding-right:5px;
}

.messages,.messages .button{
    background:#FF4E72 !important;
}
.messages .title,.messages .ion-ios-gear-outline{
    color:white !important;
}

#J_WkitToast{
    display:none;
}

.walletDivPre{
    font-size:22px !important;
}

.myCenterImg{
    width:40px;
    height: 40px;
}



